@import "../../common/styles/global-variables.less";

.conversion-pixel-health {
    .page-header {
        margin: 50px 0 10px;
    }

    .table {
        table-layout: fixed;
        border-collapse: separate;

        .time-col {
            width: 20%;
        }

        .failure-col {
            width: 80%;
        }

    }

    .table > tbody + tbody {
        border-top-width: 1px;
    }

    .collapser {
        &:hover {
            cursor: pointer;
            background: darken(@table-bg-accent, 5%);
        }
    }

    .collapsee {
        padding: 0;
    }


    .inline-list {
        padding: @table-cell-padding;
        margin-bottom: 0;

        &[aria-expanded=true] {
            border: 1px solid #d9534f;
            border-bottom: 0;
            background: darken(@table-bg-accent, 5%);
        }
    }

    .list-group {
        border: 1px solid #d9534f;
        border-top: 0;
        margin-bottom: 0;
    }

    .list-group-item:first-child,
    .list-group-item:last-child {
        border-radius: 0;
    }

    .label {
        font-size: 90%;
        margin-right: 0.5em;
        display: inline-block;
    }
}
