<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Report Data Issue</h4>
</div>

<div class="modal-body">
    We are sorry you are having issues with the data shown on FlightsConnect. Thanks for using the platform and for your patience.

    We will make every effort to look into serious data issues, but FlightsConnect is a free, beta product so we cannot guarantee 100% accuracy in all cases.

    Please try refreshing the page or reloading the data before raising an issue. Some data latency issues can prevent full loading of the graph.

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close('true')">Submit Data Feedback</button>
    <button class="btn btn-default" ng-click="$close('false')">Return to Graph</button>
</div>
