<div class="modal-header">
    <h3 class="modal-title">Result</h3>
</div>
<div class="modal-body">
    <tabset>
        <tab>
            <tab-heading>Response</tab-heading>
            <div class="top5">
                <pre class="json" pretty-json="jacResponse"/>
            </div>
        </tab>
        <tab>
            <tab-heading>Preview</tab-heading>
            <div class="top5">
                <json-formatter json="jacResponse" open="3"></json-formatter>
            </div>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
</div>