<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="dashboard">

    <h2 class="page-header">
        <div class="row">
            <div class="col-md-6">
                <!-- it can be used as an element -->

              <div layout>
                <div flex="10" layout layout-align="center center">
                  <span class="md-body-1">Budget</span>
                </div>            
                <md-slider ng-mouseup="updateBudget(budget)" flex="50" ng-model="budget" min="1000" max="3000" aria-label="blue" id="blue-slider" class="md-primary">
                </md-slider>
                <div layout>
                    <span>(USD)</span>
                  <input type="number" ng-model="budget" aria-label="blue" aria-controls="blue-slider" style="text-align:center;width:100px;">
                </div>
                <div flex="20" layout>
                </div>            
              </div>
            </div>
            <div class="col-md-6">
              <form name="datepickerForm" class="trip-datepicker form-inline" role="form">
                <!-- Date range example -->
                <div>
                  <div>
                    <button ng-click="toggleOneway(is_oneway)" ng-model="is_oneway" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" class="btn btn-default btn-sm" type="button">
                        <label ng-hide="is_oneway" class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i>&nbsp;Return</label>
                        <label ng-show="is_oneway" class="control-label"><i class="fa fa-calendar"></i>&nbsp;One-way</label>
                    </button>
                  </div>
                  <div style="margin-top:10px;">
                      

                    <div class="form-group" style="position:relative;">

                      <label for="departdate">Depart</label>&nbsp;
                      <input type="text" class="form-control input-sm"

                       datetimepicker
                       datetimepicker-options="{{departDatePickerOptions}}"
                       ng-change="updateDepart(departDate, returnDate)"

                       id="departdate"
                       placeholder="{{departDate}}"
                       name="depart"
                       ng-model="departDate">
                    </div>

                    <div class="form-group" style="position:relative;" ng-hide="is_oneway">

                      <label for="departdate">Return</label>&nbsp;
                      <input type="text" class="form-control input-sm"

                       datetimepicker
                       datetimepicker-options="{{returnDatePickerOptions}}"
                       ng-change="updateReturn(departDate, returnDate)"

                       id="returndate"
                       placeholder="{{returnDate}}"
                       name="return"
                       ng-model="returnDate">
                    </div>


                  </div>
                </div>
              </form>
            </div>            

        </div>



    </h2>

    <div class="col-md-12">
    <!--Flights-->
    <div class="mt40" cg-busy="{ promise: flightsPromise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
    <section class="row">

        <article ng-repeat="quote in flights.results" class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{constructParams(quote.dest_data.city.location.latitude, quote.dest_data.city.location.longitude, flights.origin, quote.destination)}}" title="Nature Portfolio" class="zoom" data-title="Amazing Nature" data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                        <img src="http://lorempixel.com/350/350/nature/4" alt="Nature Portfolio" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="Nature Portfolio">
                        {{quote.destination}} ({{convertToUSD(quote.price, flights.currency)}} USD)
                    </a></h4>
                    <span class="pull-right">
                        <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <div id="like1-bs3"></div>
                        <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
                    </span>
                </div>
            </div>
        </article>
    </section>
    </div> 

    </div>
</div>
