<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="dashboard">

    <h2 class="page-header">
        <div class="row">
          Flight Select
        </div>



    </h2>

    <div class="col-md-12">
    <!--Flights-->
    <div class="mt40" cg-busy="{ promise: flightsPromise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
    <section class="row">

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="it in flights.Itineraries">
            {{it}}
            {{it.InboundLegId}}
            inbound: {{getLeg(it.InboundLegId, flights.Legs)}}
            outbound: {{getLeg(it.OutboundLegId, flights.Legs)}}
          </li>
        </ul>      

    </section>
    </div> 

    </div>
</div>
