<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="dashboard">

    <h2 class="page-header">
        <div class="row">
            <div class="col-md-6">
                <!-- it can be used as an element -->

              <div layout>
                <div flex="10" layout layout-align="center center">
                  <span class="md-body-1">Budget per night</span>
                </div>            
                <md-slider ng-mouseup="updateBudget(budget)" flex="50" ng-model="budget" min="10" max="500" aria-label="blue" id="blue-slider" class="md-primary">
                </md-slider>
                <div layout>
                    <span>(USD)</span>
                  <input type="number" ng-model="budget" aria-label="blue" aria-controls="blue-slider" style="text-align:center;width:100px;">
                </div>
                <div flex="20" layout>
                </div>            
              </div>
            </div>
            <div class="col-md-6">
              <form name="datepickerForm" class="trip-datepicker form-inline" role="form">
                <!-- Date range example -->
                <div>

                  <div style="margin-top:10px;">
                      

                    <div class="form-group" style="position:relative;">

                      <label for="departdate">Check In</label>&nbsp;
                      <input type="text" class="form-control input-sm"

                       datetimepicker
                       datetimepicker-options="{{departDatePickerOptions}}"
                       ng-change="updateDepart(departDate, returnDate)"

                       id="checkIn"
                       placeholder="{{checkIn}}"
                       name="depart"
                       ng-model="checkIn">
                    </div>

                    <div class="form-group" style="position:relative;" ng-hide="is_oneway">

                      <label for="checkOut">Check Out</label>&nbsp;
                      <input type="text" class="form-control input-sm"

                       datetimepicker
                       datetimepicker-options="{{returnDatePickerOptions}}"
                       ng-change="updateReturn(checkOut, checkOut)"

                       id="checkOut"
                       placeholder="{{checkOut}}"
                       name="return"
                       ng-model="checkOut">
                    </div>


                  </div>
                </div>
              </form>
            </div>            

        </div>



    </h2>

    <div class="col-md-12">

    <!--Hotels-->
    <div ng-show="filter.hotels" class="mt40" cg-busy="{ promise: hotelsPromise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
    <section class="row">

        <article ng-repeat="quote in hotels.results" class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{constructParams(quote.dest_data.city.location.latitude, quote.dest_data.city.location.longitude)}}" title="Nature Portfolio" class="zoom" data-title="Amazing Nature" data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                        <img ng-src="{{getImage(quote.images[1].url) || quote.images[0].url}}" alt="{{quote.property_name}}" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#" title="{{quote.property_name}}">
                        {{quote.property_name}} ({{quote.min_daily_rate.amount}} {{quote.min_daily_rate.currency}})
                    </a></h4>
                    <span class="pull-right">
                        <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <div id="like1-bs3"></div>
                        <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
                    </span>
                </div>
            </div>
        </article>
    </section>
    </div>        


    </div>
</div>
