<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper">
    <div class="auto-scrape row">
        <button ng-click="generateRegressionTests()" class="btn btn-default btn-sm"><i class="fa fa-play-circle"></i>&nbsp;Generate all</button>

        <button ng-click="runRegressionTests(regressionTest.test_config.id)" class="btn btn-default btn-sm"><i class="fa fa-play-circle"></i>&nbsp;Run all</button>

    </div>
    <div class="auto-scrape row">
        <!--Regression Tests-->
        <accordion>
            <accordion-group is-open="regressionAccordionOpen">
                <accordion-heading>
                    <i class="fa fa-arrows-v"></i>&nbsp;Regression Tests<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': regressionAccordionOpen, 'glyphicon-chevron-right': !regressionAccordionOpen}"></i>
                    <!-- &nbsp;<span ng-show="scrapeSummary">({{scrapeSummary.success_total}}/{{scrapeSummary.scrape_total}} Passed)</span> -->
                </accordion-heading>

                <div clss="panel-body">
                    <fc-regression
                        test-configs="regressionTest"
                        scrape-summary="scrapeSummary"
                        test-configs-promise="apiResponsePromise">
                    </fc-regression>
                </div>
            </accordion-group>
        </accordion>

        <!--Failing Tests-->
        <!--
        <accordion>
            <accordion-group is-open="failingAccordionOpen">
                <accordion-heading>
                    <i class="fa fa-exclamation-circle"></i>&nbsp;Failing Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': failingAccordionOpen, 'glyphicon-chevron-right': !failingAccordionOpen}"></i>
                </accordion-heading>

                <div clss="panel-body">
                    <fc-regression
                        test-configs="regressionTest"
                        scrape-summary="scrapeSummary"
                        test-configs-promise="apiResponsePromise"
                        test-loading-message="testLoadingMessage"
                        scrape-tester="scrapeTester"
                        result-filter="filterFailingTests">
                    </fc-regression>
                </div>
            </accordion-group>
        </accordion>
        -->

        <!--Personal Tests-->
        <accordion>
            <accordion-group is-open="personalAccordionOpen">
                <accordion-heading>
                    <i class="fa fa-user-secret"></i>&nbsp;Personal Tests <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': personalAccordionOpen, 'glyphicon-chevron-right': !personalAccordionOpen}"></i>
                </accordion-heading>

                <div clss="panel-body">
                    <fc-regression
                        test-configs="regressionTest"
                        scrape-summary="scrapeSummary"
                        test-configs-promise="apiResponsePromise">
                    </fc-regression>
                </div>

            </accordion-group>
        </accordion>
    </div>
</div>
