<table st-table="staticTableData" st-safe-src="tableData" class="table table-bordered table-hover table-striped dates-table client-sorting-table" ng-show="staticTableData.length">
    <thead>
        <tr>
            <th class="sorter" st-sort="outboundDateUnix" st-sort-default="true" rowspan="2" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'outboundDateTime' })">
                <span class="sort-header">Depart</span>
            </th>
            <th class="sorter" st-sort="inboundDateUnix" rowspan="2" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'inboundDateTime' })">
                <span class="sort-header">Return</span>
            </th>
            <th class="sorter" st-sort="searchDateUnix" rowspan="2" st-skip-natural="true" ng-click="trackSort({
            view: 'dates', sortBy: 'searchDateUnix' })">
                <span class="sort-header">Last Search</span>
            </th>
            <th colspan="3">Your Cheapest Itinerary</th>
            <th colspan="2">Your Cheapest Book Button</th>
            <th class="sorter" rowspan="2" st-sort="firstRankItinerary" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'firstRankItineraries' })">
                <span class="sort-header help-text" tooltip="Percentage of all your itineraries in the first rank">% First Rank Itineraries <i class="fa fa-question"></i></span>
            </th>
        </tr>
        <tr>
            <th class="sorter" st-sort="your_cheapest_itinerary.position" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'yourCheapestItineraryPosition' })">
                <span class="sort-header help-text" tooltip="Position of your cheapest itinerary">Position <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-sort="your_cheapest_itinerary.rank" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'yourCheapestItineraryRank' })">
                <span class="sort-header help-text" tooltip="Rank of your cheapest itinerary">Rank <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-sort="competition_cheapest_itinerary.price_diff" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'distanceToRank1' })">
                <span class="sort-header help-text" tooltip="Difference between your cheapest price and your competitors">Distance to the Top <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-custom-sort="sortPosition" st-sort="sortPosition" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'yourCheapestBookButtonPosition' })">
                <span class="sort-header help-text" tooltip="Position of your cheapest book button">Position <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-sort="your_cheapest_book_button.capturable_margin" st-skip-natural="true" ng-click="trackSort({ view: 'dates', sortBy: 'yourCheapestBookButtonCapturableMargin' })">
                <span class="sort-header help-text" tooltip="Capturable margin on your cheapest book button">Capturable Margin <i class="fa fa-question"></i></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in staticTableData" ng-click="switchView({
            view: 'itineraries',
            market: viewParams.market,
            fromPlace: viewParams.fromPlace,
            toPlace: viewParams.toPlace,
            fromDate: row.fromDate,
            toDate: row.toDate
        })">
            <td>{{ row.outbound_date_time }}</td>
            <td>{{ row.inbound_date_time }}</td>
            <td>{{ row.search_date_time }}</td>
            <td>{{ row.your_cheapest_itinerary.position }}</td>
            <td>{{ row.your_cheapest_itinerary.rank }}</td>
            <td class="num {{ row.competition_cheapest_itinerary.price_diff > 0 ? 'neg' : '' }}">{{ row.competition_cheapest_itinerary.price_diff > 0 ? (row.competition_cheapest_itinerary.price_diff | number:2) : 0 }}</td>
            <td>{{ row.your_cheapest_book_button.position }}</td>
            <td class="num">{{ row.your_cheapest_book_button.capturable_margin > 0 ? (row.your_cheapest_book_button.capturable_margin | number:2) : 0 }}</td>
            <td>{{ row.firstRankItinerary }}%</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-info" ng-if="tableData && tableData.length === 0">There is no data available for the selected options.</div>
