<div class="modal-header">
    <button type="button" class="close" ng-click="ok()">
        <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title">Position and Rank explained</h4>
</div>

<div class="modal-body">
    <p class="text-center"><img src="images/markdown-images/position-and-rank.png" /></p>

    <p>Every ticket you sell has both a <strong>position</strong> and a <strong>rank</strong>. The <strong>position</strong> of a ticket refers to the position of itinerary relative to <strong>other itineraries</strong> in the results page. <strong>Position 1</strong> means the top of the results page, <strong>position 2</strong> is the next one down, and so on.</p>

    <p>The <strong>rank</strong> of a ticket, on the other hand, is the rank of the ticket compared to other tickets <strong>on the same itinerary</strong>. <strong>Rank 1</strong> means <strong>the book button</strong>, <strong>rank 2</strong> is the next cheapest price on that itinerary and so on.</p>
</div>
