<table st-table="staticTableData" st-safe-src="tableData" class="table table-bordered table-hover table-striped client-sorting-table" ng-show="staticTableData.length">
    <thead>
        <tr>
            <th class="sorter" st-sort="outbound_date_time" st-skip-natural="true" ng-click="trackSort({ view: 'itineraries', sortBy: 'outboundDateTime' })">
                <span class="sort-header">Time out</span>
            </th>
            <th class="sorter" st-sort="inbound_date_time" st-skip-natural="true" ng-click="trackSort({ view: 'itineraries', sortBy: 'inboundDateTime' })">
                <span class="sort-header">Time back</span>
            </th>
            <th class="sorter" st-sort="flight_numbers" st-skip-natural="true" ng-click="trackSort({ view: 'itineraries', sortBy: 'flightNumbers' })">
                <span class="sort-header help-text" tooltip="Marketing flight numbers">Flight Numbers <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-sort="your_cheapest_ticket_option.position" st-skip-natural="true" st-sort-default="true" ng-click="trackSort({ view: 'itineraries', sortBy: 'yourCheapestTicketOptionPosition' })">
                <span class="sort-header help-text" tooltip="Your position">Position <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-sort="your_cheapest_ticket_option.rank" st-skip-natural="true" ng-click="trackSort({ view: 'itineraries', sortBy: 'yourCheapestTicketOptionRank' })">
                <span class="sort-header help-text" tooltip="Your rank">Rank <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-sort="distanceToTop" st-skip-natural="true" ng-click="trackSort({ view: 'itineraries', sortBy: 'distanceToRank1' })">
                <span class="sort-header help-text" tooltip="Difference between your cheapest price and your competitor’s cheapest price">Distance to Rank 1 <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter" st-sort="your_cheapest_ticket_option.price_diff" st-skip-natural="true" ng-click="trackSort({ view: 'itineraries', sortBy: 'yourCheapestTicketOptionCapturableMargin' })">
                <span class="sort-header help-text" tooltip="Capturable margin on your cheapest ticket against your nearest competitor's price">Capturable Margin <i class="fa fa-question"></i></span>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="row in staticTableData">
            <td>{{ row.outbound_date_time }}</td>
            <td>{{ row.inbound_date_time }}</td>
            <td>{{ row.flight_numbers }}</td>
            <td>{{ row.your_cheapest_ticket_option.position }}</td>
            <td>{{ row.your_cheapest_ticket_option.rank }}</td>
            <td class="num {{ row.distanceToTop > 0 ? 'neg' : '' }}">{{ row.distanceToTop > 0 ? (row.distanceToTop | number:2) : 0 }}</td>
            <td class="num">{{ row.your_cheapest_ticket_option.price_diff > 0 ? (row.your_cheapest_ticket_option.price_diff | number:2) : row.your_cheapest_ticket_option.price_diff }}</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-info" ng-if="tableData && tableData.length === 0">There is no data available for the selected options.</div>
