<table st-table="staticTableData" st-safe-src="tableData" class="table table-bordered table-hover table-striped routes-table" ng-show="staticTableData.length">
    <thead>
        <tr>
            <th rowspan="2" colspan="2" class="sorter {{ viewParams.sortBy === 'fromPlaceName' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'fromPlaceName' })">
                <span class="sort-header">From</span>
            </th>
            <th rowspan="2" colspan="2" class="sorter {{ viewParams.sortBy === 'toPlaceName' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'toPlaceName' })">
                <span class="sort-header">To</span>
            </th>
            <th rowspan="2" class="sorter {{ viewParams.sortBy === 'searchVolume' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'searchVolume' })">
                <span class="sort-header help-text" tooltip="The total number of searches performed in the past 24 hours">Search Volume <i class="fa fa-question"></i></span></th>
            <th colspan="3">Your Cheapest Itinerary</th>
            <th colspan="2">Your Cheapest Book Button</th>
            <th rowspan="2" class="sorter {{ viewParams.sortBy === 'allItinerariesRankHistogram' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'allItinerariesRankHistogram' })">
                <span class="sort-header help-text" tooltip="Percentage of all your itineraries in the first rank">% First Rank Itineraries <i class="fa fa-question"></i></span>
            </th>
        </tr>
        <tr>
            <th class="sorter {{ viewParams.sortBy === 'yourCheapestItineraryPositionHistogram' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'yourCheapestItineraryPositionHistogram' })">
                <span class="sort-header help-text" tooltip="Position of your cheapest itinerary">Position <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter {{ viewParams.sortBy === 'yourCheapestItineraryRankHistogram' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'yourCheapestItineraryRankHistogram' })">
                <span class="sort-header help-text" tooltip="Rank of your cheapest itinerary">Rank <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter {{ viewParams.sortBy === 'competitionCheapestItineraryPriceDiff' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'competitionCheapestItineraryPriceDiff' })">
                <span class="sort-header help-text" tooltip="Avg. difference between your cheapest price and your competitors">Avg. Distance to the Top <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter {{ viewParams.sortBy === 'yourCheapestBookButtonPositionHistogram' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'yourCheapestBookButtonPositionHistogram' })">
                <span class="sort-header help-text" tooltip="Position of your cheapest book button">Position <i class="fa fa-question"></i></span>
            </th>
            <th class="sorter {{ viewParams.sortBy === 'yourCheapestBookButtonCapturableMargin' ? 'sort-' : '' }}{{ viewParams.sortOrder }}" ng-click="navigateRoutesView({ sortBy: 'yourCheapestBookButtonCapturableMargin' })">
                <span class="sort-header help-text" tooltip="Avg. capturable margin on your cheapest book button">Avg. Capturable Margin <i class="fa fa-question"></i></span>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="row in staticTableData" ng-click="switchView({
            view: 'dates',
            market: viewParams.market,
            fromPlace: row.origin_id,
            toPlace: row.destination_id
        })">
            <td class="place-cell">{{ row.originName }}</td>
            <td class="iata-cell">({{ row.originIata }})</td>
            <td class="place-cell">{{ row.destinationName }}</td>
            <td class="iata-cell">({{ row.destinationIata }})</td>
            <td>{{ (row.search_volume === -1) ? '&lt;100' : (row.search_volume | number) }}</td>
            <td class="histogram">
                <span class="position-one">{{ row.histogramPositionItinerary[0] }}%</span>

                <div class="histogram-bar" tooltip="#1:  {{ row.histogramPositionItinerary[0] }}% #2:  {{ row.histogramPositionItinerary[1] }}% #3+: {{ row.histogramPositionItinerary[2] }}%">
                    <span class="one" style="height:{{ row.histogramPositionItinerary[0] === 0 || row.histogramPositionItinerary[0] === 1 ? '2%' : row.histogramPositionItinerary[0] + '%' }}; top:{{ 100 - row.histogramPositionItinerary[0] === 100 ? '98%' : (100 - row.histogramPositionItinerary[0] + '%') }}"></span>
                    <span class="two" style="height:{{ row.histogramPositionItinerary[1] === 0 || ow.histogramPositionItinerary[1] === 1 ? '2%' : row.histogramPositionItinerary[1] + '%' }}; top:{{ 100 - row.histogramPositionItinerary[1] === 100 ? '98%' : (100 - row.histogramPositionItinerary[1] +'%') }}"></span>
                    <span class="three" style="height:{{ row.histogramPositionItinerary[2] === 0 || row.histogramPositionItinerary[2] === 1 ? '2%' : row.histogramPositionItinerary[2] + '%' }}; top:{{ 100 - row.histogramPositionItinerary[2] === 100 ? '98%' : (100 - row.histogramPositionItinerary[2] + '%') }}"></span>
                </div>
            </td>
            <td class="histogram">
                <span class="position-one">{{ row.histogramRankItinerary[0] }}%</span>

                <div class="histogram-bar" tooltip="#1:  {{ row.histogramRankItinerary[0] }}% #2:  {{ row.histogramRankItinerary[1] }}% #3+: {{ row.histogramRankItinerary[2] }}%">
                    <span class="one" style="height:{{ row.histogramRankItinerary[0] === 0 || row.histogramRankItinerary[0] === 1 ? '2%' : row.histogramRankItinerary[0] + '%' }}; top:{{ 100 - row.histogramRankItinerary[0] === 100 ? '98%' : (100 - row.histogramRankItinerary[0] + '%') }}"></span>
                    <span class="two" style="height:{{ row.histogramRankItinerary[1] === 0 || row.histogramRankItinerary[1] === 1 ? '2%' : row.histogramRankItinerary[1] + '%' }}; top:{{ 100 - row.histogramRankItinerary[1] === 100 ? '98%' : (100 - row.histogramRankItinerary[1] +'%') }}"></span>
                    <span class="three" style="height:{{ row.histogramRankItinerary[2] === 0 || row.histogramRankItinerary[2] === 1 ? '2%' : row.histogramRankItinerary[2] + '%' }}; top:{{ 100 - row.histogramRankItinerary[2] === 100 ? '98%' : (100 - row.histogramRankItinerary[2] + '%') }}"></span>
                </div>
            </td>
            <td class="num {{ row.competition_cheapest_itinerary.price_diff > 0 ? 'neg' : (row.competition_cheapest_itinerary.price_diff === 0 ? '' : 'pos') }}">{{ (row.competition_cheapest_itinerary.price_diff) | number:2 }}</td>
            <td class="histogram">
                <span class="position-one">{{ row.histogramPositionBookButton[0] }}%</span>

                <div class="histogram-bar" tooltip="#1:  {{ row.histogramPositionBookButton[0] }}% #2:  {{ row.histogramPositionBookButton[1] }}% #3+: {{ row.histogramPositionBookButton[2] }}%">
                    <span class="one" style="height:{{ row.histogramPositionBookButton[0] === 0 || row.histogramPositionBookButton[0] === 1 ? '2%' : row.histogramPositionBookButton[0] + '%' }}; top:{{ 100 - row.histogramPositionBookButton[0] === 100 ? '98%' : (100 - row.histogramPositionBookButton[0] + '%') }}"></span>
                    <span class="two" style="height:{{ row.histogramPositionBookButton[1] === 0 || row.histogramPositionBookButton[1] === 1 ? '2%' : row.histogramPositionBookButton[1] + '%' }}; top:{{ 100 - row.histogramPositionBookButton[1] === 100 ? '98%' : (100 - row.histogramPositionBookButton[1] +'%') }}"></span>
                    <span class="three" style="height:{{ row.histogramPositionBookButton[2] === 0 || row.histogramPositionBookButton[2] === 1 ? '2%' : row.histogramPositionBookButton[2] + '%' }}; top:{{ 100 - row.histogramPositionBookButton[2] === 100 ? '98%' : (100 - row.histogramPositionBookButton[2] + '%') }}"></span>
                </div>
            </td>
            <td class="num">{{ row.your_cheapest_book_button.capturable_margin > 0 ? (row.your_cheapest_book_button.capturable_margin | number:2) : 0 }}</td>
            <td>{{ row.firstRankItinerary }}%</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-info" ng-if="tableData && tableData.length === 0">There is no data available for the selected options.</div>
