<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="travel-rankings">

    <h2 class="page-header">Travel Rankings</h2>

    <div class="alert alert-{{ feedback.type }}" ng-show="feedback">{{ feedback.message }}</div>

    <div class="row">
        <div class="menu col-md-6">
            <button id="routes-btn" class="btn" ng-if="viewParams.view === 'routes' || viewParams.view === 'dates' || viewParams.view === 'itineraries' || feedback" ng-click="switchView({
                view: 'routes',
                market: viewParams.market
            })" ng-disabled="viewParams.view === 'routes'">Routes</button>

            <span ng-if="viewParams.view === 'dates' || viewParams.view === 'itineraries'">
                <i class="fa fa-chevron-right"></i>
                <button id="dates-btn" class="btn" ng-click="switchView({
                    view: 'dates',
                    market: viewParams.market,
                    fromPlace: viewParams.fromPlace,
                    toPlace: viewParams.toPlace
                })" ng-disabled="viewParams.view === 'dates'">Dates</button>
            </span>

            <span ng-if="viewParams.view === 'itineraries'">
                <i class="fa fa-chevron-right"></i>
                <button id="itineraries-btn" class="btn" ng-click="switchView({
                    view: 'dates',
                    market: viewParams.market,
                    fromPlace: viewParams.fromPlace,
                    toPlace: viewParams.toPlace,
                    fromDate: viewParams.fromDate,
                    toDate: viewParams.toDate
                })" ng-disabled="viewParams.view === 'itineraries'">Itineraries</button>
            </span>
        </div>

        <div class="col-md-6" ng-hide="feedback" ng-if="tableData.length">
            <div class="text-right meta-info">
                <p>Data collected from the past <span class="icon">2 hours</span></p>

                <p ng-if="viewParams.currency">Prices displayed in
                    <span class="icon"><i class="fa fa-{{ currencyIcon.toLowerCase() }}"></i>
                    {{ viewParams.currency }}</span>
                </p>
            </div>
        </div>
    </div>

    <div cg-busy="{ promise:promise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
        <div class="filters" ng-if="viewParams.view === 'routes' || feedback">
            <div class="row">
                <div class="form-group col-sm-4 col-md-2">
                    <label for="market">Market</label>

                    <select name="market" class="form-control" ng-model="selectedMarket" ng-options="market.name for market in markets track by market.code" ng-options-disabled="market.allowed === false for market in markets" ng-change="onSelectedMarket(selectedMarket)" ng-disabled="isLoading"></select>
                </div>

                <div class="form-group ac col-sm-4 col-md-5">
                    <label for="origin">From</label>

                    <input type="text" name="origin" typeahead-on-select="onSelectedOrigin(selectedOrigin)" typeahead="place as (place.name + ' (' + place.display_code + '): ' + place.type) for place in places | filter:$viewValue | limitTo:10" ng-model="selectedOrigin" ng-disabled="isLoading || places.length === 0" placeholder="Enter a city or airport" class="form-control" class="typeahead">

                    <button class="clear-ac" ng-click="clearOrigin(selectedOrigin)" ng-disabled="!selectedOrigin || isLoading">
                        <i class="fa fa-times"></i>
                        <span class="sr-only">Clear place</span>
                    </button>
                </div>

                <div class="form-group ac col-sm-4 col-md-5">
                    <label for="destination">To</label>

                    <input type="text" name="destination" typeahead-on-select="onSelectedDestination(selectedDestination)" typeahead="place as (place.name + ' (' + place.display_code + '): ' + place.type) for place in places | filter:$viewValue | limitTo:10" ng-model="selectedDestination" ng-disabled="isLoading || places.length === 0" placeholder="Enter a city or airport" class="form-control" class="typeahead">

                    <button class="clear-ac" ng-click="clearDestination(selectedDestination)" ng-disabled="!selectedDestination || isLoading">
                        <i class="fa fa-times"></i>
                        <span class="sr-only">Clear place</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="filters filters-static {{ viewParams.view === 'dates' ? 'filter-dates' : 'filter-itineraries'}} clearfix" ng-if="viewParams.view === 'dates' || viewParams.view === 'itineraries'">
            <div class="filter-block">
                <span class="label label-default">From</span>

                <h3 class="place"><i class="fa fa-plane"></i> <span ng-bind="viewParams.originName"></span></h3>

                <h4 class="date" ng-if="viewParams.view === 'itineraries'"><i class="fa fa-calendar"></i> <span ng-bind="viewParams.fromDate"></span></h4>
            </div>

            <div class="filter-block">
                <span class="label label-default">To</span>

                <h3 class="place"><i class="fa fa-plane fa-rotate-90"></i> <span ng-bind="viewParams.destinationName"></span></h3>

                <h4 class="date" ng-if="viewParams.view === 'itineraries'"><i class="fa fa-calendar"></i> <span ng-bind="viewParams.toDate"></span></h4>
            </div>

            <div class="last-search" ng-if="viewParams.view === 'itineraries' && itinerarySearchTime">Last search performed <strong>{{ itinerarySearchTime }}</strong>.</div>
        </div>
    </div>

    <div class="pagination-wrapper help-link-wrapper" ng-if="viewParams.view === 'routes' && tableData.length">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-md" boundary-links="true" rotate="true" previous-text="‹" next-text="›" first-text="«" last-text="»" ng-change="navigateRoutesView({ page: page })"></pagination>

        <span class="modal-help-link">
            <i class="fa fa-question-circle"></i>
            <a ng-click="openModal()" class="" ng-if="tableData.length">Position and Rank explained</a>
        </span>
    </div>

    <ng-include src="'app/travelRankings/templates/routes-table.html'" ng-if="viewParams.view === 'routes'"></ng-include>

    <ng-include src="'app/travelRankings/templates/dates-table.html'" ng-if="viewParams.view === 'dates'"></ng-include>

    <ng-include src="'app/travelRankings/templates/itineraries-table.html'" ng-if="viewParams.view === 'itineraries'"></ng-include>

    <div class="pagination-wrapper" ng-if="viewParams.view === 'routes' && tableData.length">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-md" boundary-links="true" rotate="true" previous-text="‹" next-text="›" first-text="«" last-text="»" ng-change="navigateRoutesView({ page: page })"></pagination>
    </div>
</div>
