<div ng-controller="HeaderCtrl">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WhereWeGo Beta</a>
        </div>


    </header>

    <nav class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse collapse">
            <ul class="nav">
                <li class="sidebar-search">
                    Filter by
                </li>

                <li class="nav">
                    <label for="filter-flights">
                        <input id="filter-flights" type="checkbox" ng-model="filter.flights"> <i class="fa fa-plane"></i> Flights
                    </label>
                </li>
                <li>
                    <label for="filter-hotels">
                        <input id="filter-hotels" type="checkbox" ng-model="filter.hotels"> <i class="fa fa-bed"></i> Hotels
                    </label>
                </li>                

            </ul>

            </ul>
        </div>
    </nav>
</div>
