@import "../common/styles/global-variables.less";
@gray-lightest: lighten(@gray-base, 97.25%);


// Global Styles
// Move this to GLOBAL
body {
    background-color: @gray-lightest;

    a[ng-click] {
        cursor: pointer;
    }
}


// Wrappers
#wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#page-wrapper {
    padding: 15px;
    background-color: white;

    &.no-header {
        padding-top: 15px;
    }

    > .page-header {
        margin-top: 0;
        padding-top: 15px;
    }
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px 20px;
        min-height: 95%;
        border-left: 1px solid darken(@gray-lightest, 6.5%);
    }
}


// Navigation

// --Topbar
//
.navbar-static-top {
    margin-bottom: 0;
}

.navbar-top-links {
    margin-right: 0;

    li {
        display: inline-block;

        &:last-child {
            margin-right: 15px;
        }

        a {
            padding: 15px;
            min-height: 50px;
        }
    }

    .dropdown-menu li {
        display: block;

        &:last-child {
            margin-right: 0;
        }

        a {
            padding: 3px 20px;
            min-height: 0;
        }
    }
}

// --Sidebar
.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-search {
        padding: 15px;
        background-color: @gray-lighter;

        .partner-name {
            display: block;
            font-size: 1em;
            margin: 0 0 1em;
            padding: 0;
            font-weight: 700;
        }

    }

    ul li {
        border-bottom: 1px solid @gray-lighter;
        a {
            &.active {
                background-color: @gray-lighter;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .arrow {
        float: right;
    }

    [aria-expanded=true] .fa.arrow:before {
        content: "\f107";
    }

    [aria-expanded=false] .fa.arrow:before {
        content: "\f105";
    }

    .nav-second-level li {
        border-bottom: none !important;

        a {
            padding-left: 2em;
        }
    }
}

@media(min-width:768px) {
    html, body {
        height: 100%;
    }

    .sidebar {
        position: absolute;
        width: 250px;
    }
}
