// this is to fix the spacing problem after build
.glyphicon:empty {
  width: auto;
}

.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.scrape_test_results {
  .modal-content {
    width:100%;
    height:80%;
  }

  .modal-dialog {
    width:90%;
  }
}

.smart-table {
  table {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 300px; /* this can vary */
  }

  table * {
      box-sizing: inherit;
      -moz-box-sizing: inherit;
  }

  thead {
      display: flex;
      flex-direction: column;
      align-items: stretch;
  }

  tbody {
      overflow-y: scroll;
      display: inline-block;
  }

  thead > tr, tbody > tr, tfoot > tr {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }

  thead, tfoot {
      flex-shrink: 0;
  }

  th, tbody td {
      width: 20%; /* this can vary */
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: inline-block;
  }

  tfoot {
      display: inline-block;
  }

  tfoot td {
      width: 100%;
      display: inline-block;
  }
}

.ng-pageslide {
    background: #eee;
}


// CSS3 animation
.custom-enter,
.custom-leave,
.custom-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

.custom-enter {
  left:-10px;
  opacity:0;
}
.custom-enter.custom-enter-active {
  left:0;
  opacity:1;
}

.custom-leave {
  left:0;
  opacity:1;
}
.custom-leave.custom-leave-active {
  left:-10px;
  opacity:0;
}

.custom-move {
  opacity:0.5;
}
.custom-move.custom-move-active {
  opacity:1;
}

.cg-busy-default-sign {
  border-radius:7px;
  margin-top:5px;
  z-index:100;
}

.popover-content {
  padding:5px;
}

// .from_place, .to_place {
//   text-transform: uppercase;
// }


// overwritten modules

/* MultiSelect module */

multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
    text-align:left;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    min-width:240px;
}
multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}

header {
   .toolbar {
      a {
         cursor:pointer;
      }
   }

   .alert {
      padding: 10px;
      font-size: 11px;
      position: fixed;
      left: 46%;
      top: 6%;
      min-width: 300px;
      text-align: center;
   }

   .navbar {
    margin:0;
    padding-right:15px;
   }
   .navbar-brand {
      // width:300px;
   }

   .switch_view {
      margin:7px 0 0 10px;
   }

   .websites {
    padding-top:10px;
    margin-right:20px;
   }

   .popover {
    font-size:10px;
   }
}


.login {
  .login-container{
      position: relative;
      width: 300px;
      margin: 80px auto;
      padding: 20px 40px 15px;
      text-align: center;
      background: #fff;
      border: 1px solid #ccc;
  }

  #output{
      position: absolute;
      width: 300px;
      top: -75px;
      left: 0;
      color: #fff;
  }

  #output.alert-success{
      background: rgb(25, 204, 25);
  }

  #output.alert-danger{
      background: rgb(228, 105, 105);
  }


  .login-container::before,.login-container::after{
      content: "";
      position: absolute;
      width: 100%;height: 100%;
      top: 3.5px;left: 0;
      background: #fff;
      z-index: -1;
      -webkit-transform: rotateZ(4deg);
      -moz-transform: rotateZ(4deg);
      -ms-transform: rotateZ(4deg);
      border: 1px solid #ccc;

  }

  .login-container::after{
      top: 5px;
      z-index: -2;
      -webkit-transform: rotateZ(-2deg);
       -moz-transform: rotateZ(-2deg);
        -ms-transform: rotateZ(-2deg);

  }

  .avatar{
      width: 100px;height: 100px;
      margin: 10px auto 30px;
      border-radius: 100%;
      border: 2px solid #aaa;
      background-size: cover;
      background:url(https://secure.skyscanner.net/Static/Images/auth-sprite.png) 50% -1227px;
  }

  .form-box input[type="password"], .form-box input[type="text"]{
      width: 100%;
      padding: 10px;
      text-align: center;
      height:40px;
      border: 1px solid #ccc;;
      background: #fafafa;
      transition:0.2s ease-in-out;
  }

  .form-box input:focus{
      outline: 0;
      background: #eee;
  }

  .form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
  }

  .form-box input[type="email"]{
    border-radius: 5px 5px 0 0;
    text-align:center;
  }

  .form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
  }

  .form-box input[type="submit"]{
      margin-top:15px;
      padding: 10px 20px;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

}
.monitoring_row {
  .cg-busy-default-sign {
    border-radius:7px;
    margin-top:5px;
    z-index:100;
  }
}

.actions_slider {
  .item {
    height:305px;
    padding:15px;

    .carousel-caption {
      color:black;
    }
  }

  .carousel-control.right, .carousel-control.left {
    background:none;
  }

  .icon-prev, .icon-next {
    color:black;
  }

  .carousel-indicators {
    li {
      border:1px solid black;
      // background-color:black;
    }
  }
}

.growth_opportunities, .health {
  .panel-default {
    .panel-heading {
      cursor:pointer;
    }
    .panel-title {
      a {
        overflow: auto;
        display: block;
        // background-color: #f5f5f5;
        padding: 5px;
        border-radius:5px;
        // testing
      }
    }
  }

  .response_times {
    svg {
      height:315px;
    }
  }

  .panel-group {
    margin-bottom:0;
  }

  .panel {
    .list-group .list-group-item {
      border: none;
      background-color:white;
      overflow:auto;
      padding:4px 0;
    }
  }
}

.rank {
  .rank_breakdown {
    position:relative;

    .heading {
      position:absolute;
    }

    .partner {
      bottom:10px;
    }

    .market_leader {
      top:10px;
    }
  }
}

#outer-container {
   background: #fff;
   position: absolute;
   display: inline-block;
   top: 3em;
   bottom:2em;
   left: 250px;
   right:0em;
   overflow: visible !important;
   margin-top:10px;

  .keyval_container {
    margin-top:3px;
  }
  .remove_pair {
    margin: 1px 0 0 3px;
  }

  .cg-busy-default-sign {
    border-radius:7px;
    margin-top:5px;
    z-index:100;
  }
   .request_type {
    margin-left:5px;
   }

   .request_params {
    width:250px;
   }

   #sample_deeplink {
      padding:0px 15px;
   }

   .jac_results {
      height:inherit;

      .heading {
        padding:5px;
      }

   }

   .alert {
      padding: 10px;
      font-size: 11px;
      border-radius: 0;
   }

   .panel-heading {
      padding-left:10px;
   }

   #flight_search {
    .pull-left {
      margin-left:5px;
    }
    .search_button {
      margin-top:13px;
      padding:0 6px 0 0;
    }
   }

   // one of the container panes
   .pane {
      border: 1px solid #ddd;
      background: #fff;

      .test_pane {
         overflow:scroll;
      }
      .carrier_filter {
        margin-right:10px;
      }

      label {
         font-size:11px;
         font-weight:normal;
      }
      input, select {
         height:25px;
         line-height:12px;
         font-size:12px;
      }
      select {
        font-size:11px;
        height:30px;
      }

      .form_data_switch {
        padding-top:10px;

        .keyval {
          min-width:100px;
          max-width:250px;
        }
        .val {
          margin-left:5px;
        }
      }

      // engine dropdown in the integration page
      .engine_selector {
        margin-top:5px;
      }

      // request tabs in the integration page
      .requests_tab  {
        width:100%;
      }

      .calendar {
        height:34px;
      }
      textarea {
         font-size:12px;
      }
      .test_request {
        height:100px;
      }
      .form-group {
         margin-bottom:5px;
      }

      .accordion-heading {
         font-size:12px;
      }

      .panel-body {
         padding:5px;
      }
      .panel-title {
         a {
            cursor:pointer;
            display:block;
         }
      }
      .radio-inline, .checkbox-inline {
         line-height:20px;

         input[type="radio"], input[type="checkbox"] {
            height:12px;
            margin-left:-15px
         }
      }

      .numeric_fields {
         input {
            width:55px;
            font-size:12px;
            line-height:12px;
            padding:5px;
         }
         .form-group {
            width:65px;
         }
      }

      .date, .place {
         width:140px;
      }

      .place {
        width:285px;
      }

     .table {
      font-size:11px;

        tr {
          cursor:pointer;
        }
        .place {
           width:60px;
        }
        .date {
          width:140px;
        }
        input[type="number"] {
          width:50px;
          font-size:11px;
        }
        .passengers {
          width:70px;
        }
        select {
          width:120px;
        }

     }
   }

   .tests_pane, .requests_pane, .tests_list_pane {
      overflow-y:auto;
   }

   .yaml_pane {
      .tab-content {
         padding:0px;
      }
   }

   ul.nav-tabs {
      li {
         a {
            padding:5px;
            font-size:12px;
            cursor:pointer;
         }

      }
   }

   .tab-content {
      padding: 15px 5px;

   }

}

.search_results {
  .label-info, .label-success {
    font-size:11px;
  }
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.iata_place {
  padding:0;
  .col {
    padding:0;
  }
}

