/* STYLE THIS TO CHANGE THE HANDLE */
.ui-layout-toggler {
        background-color: white;
}

.ace_editor {
  min-height: 500px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}

/* Monitoring */
.monitoring_row {
    width:99%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
}
.gridStyle .ngViewport {
    min-height: 400px  !important;
}

/* Engine Type */
#engine_types {
    float: right;
}

.engine .request_url {
    width: 450px;
}

.tab-pane .openaxis_username, .tab-pane .openaxis_password  , .tab-pane #openaxis_auth {
    width: 150px;
}


.tooltip-inner {
    text-align:left;
}

.auto-scrape {
    margin-top:15px;
}