#outer-container {
   background: #fff;
   position: absolute;
   display: inline-block;
   top: 3em;
   bottom:2em;
   left: 250px;
   right:0em;
   overflow: visible !important;
   margin-top:10px;

  .keyval_container {
    margin-top:3px;
  }
  .remove_pair {
    margin: 1px 0 0 3px;
  }

  .cg-busy-default-sign {
    border-radius:7px;
    margin-top:5px;
    z-index:100;
  }
   .request_type {
    margin-left:5px;
   }

   .request_params {
    width:250px;
   }

   #sample_deeplink {
      padding:0px 15px;
   }

   .jac_results {
      height:inherit;

      .heading {
        padding:5px;
      }

   }

   .alert {
      padding: 10px;
      font-size: 11px;
      border-radius: 0;
   }

   .panel-heading {
      padding-left:10px;
   }

   #flight_search {
    .pull-left {
      margin-left:5px;
    }
    .search_button {
      margin-top:13px;
      padding:0 6px 0 0;
    }
   }

   // one of the container panes
   .pane {
      border: 1px solid #ddd;
      background: #fff;

      .test_pane {
         overflow:scroll;
      }
      .carrier_filter {
        margin-right:10px;
      }

      label {
         font-size:11px;
         font-weight:normal;
      }
      input, select {
         height:25px;
         line-height:12px;
         font-size:12px;
      }
      select {
        font-size:11px;
        height:30px;
      }

      .form_data_switch {
        padding-top:10px;

        .keyval {
          min-width:100px;
          max-width:250px;
        }
        .val {
          margin-left:5px;
        }
      }

      // engine dropdown in the integration page
      .engine_selector {
        margin-top:5px;
      }

      // request tabs in the integration page
      .requests_tab  {
        width:100%;
      }

      .calendar {
        height:34px;
      }
      textarea {
         font-size:12px;
      }
      .test_request {
        height:100px;
      }
      .form-group {
         margin-bottom:5px;
      }

      .accordion-heading {
         font-size:12px;
      }

      .panel-body {
         padding:5px;
      }
      .panel-title {
         a {
            cursor:pointer;
            display:block;
         }
      }
      .radio-inline, .checkbox-inline {
         line-height:20px;

         input[type="radio"], input[type="checkbox"] {
            height:12px;
            margin-left:-15px
         }
      }

      .numeric_fields {
         input {
            width:55px;
            font-size:12px;
            line-height:12px;
            padding:5px;
         }
         .form-group {
            width:65px;
         }
      }

      .date, .place {
         width:140px;
      }

      .place {
        width:285px;
      }

     .table {
      font-size:11px;

        tr {
          cursor:pointer;
        }
        .place {
           width:60px;
        }
        .date {
          width:140px;
        }
        input[type="number"] {
          width:50px;
          font-size:11px;
        }
        .passengers {
          width:70px;
        }
        select {
          width:120px;
        }

     }
   }

   .tests_pane, .requests_pane, .tests_list_pane {
      overflow-y:auto;
   }

   .yaml_pane {
      .tab-content {
         padding:0px;
      }
   }

   ul.nav-tabs {
      li {
         a {
            padding:5px;
            font-size:12px;
            cursor:pointer;
         }

      }
   }

   .tab-content {
      padding: 15px 5px;

   }

}

.search_results {
  .label-info, .label-success {
    font-size:11px;
  }
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.iata_place {
  padding:0;
  .col {
    padding:0;
  }
}