<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="routes">
    <h2 class="page-header">Routes</h2>

    <section class="route-topic">
        <div class="route-header">
            <h3 class="topic-header"><i class="fa fa-plane"></i> Top Destinations</h3>

            <div class="form-inline">
                <label for="market">Select a market:</label>

                <select name="market" class="form-control" ng-model="selectedMarket" ng-disabled="isMarketDisabled" ng-options="market.name for market in markets track by market.id" ng-change="getDestinationList(selectedMarket)">
                </select>
            </div>
        </div>

        <div class="alert alert-{{ feedback.type }}" ng-show="feedback">{{ feedback.message }}</div>

        <div cg-busy="{ promise:destinationListPromise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
            <div class="data-periods" ng-show="dataCollectionPeriod">Data collection period
                <p>
                    <span class="date"><i class="fa fa-calendar"></i> {{ dataCollectionPeriod.startDate }}</span> to <span><i class="fa fa-calendar"></i> {{ dataCollectionPeriod.endDate }}</span>
                </p>
            </div>

            <ul class="top-destinations-list">
                <li ng-repeat="d in destinationList">
                    <div class="dest-header collapsed" data-toggle="collapse" aria-expanded="false" data-target="#origin-{{ d.routeId }}" ng-disabled="d.ui.isHeaderClicked" ng-click="d.ui.isHeaderClicked || getOriginList(d.routeId)">
                        <div class="dest-name">
                            <h4>
                                <i class="fa arrow" ng-show="!d.ui.isHeaderClicked"></i><i class="fa fa-spinner fa-pulse" ng-show="d.ui.isHeaderClicked && !d.hasOriginList"></i><span class="iata dest-code">{{ d.iata }}</span>
                            </h4>
                            <span class="dest-title">{{ d.name }}</span>
                        </div>

                        <div class="dest-redirects">
                            <span class="label-redirects">Total Redirects</span>
                            <span class="num-redirects">{{ d.redirects | number }}</span>
                        </div>
                    </div>

                    <div id="origin-{{ d.routeId }}" class="collapse dest-detail" ng-show="d.hasOriginList">
                        <table class="table table-hover table-origins">
                            <thead>
                                <tr>
                                    <th class="origin-iata">Origin Airport</th>

                                    <th class="origin-name"></th>

                                    <th class="metric">
                                        <div class="wrapper redirects" tooltip="Clicks recorded by Skyscanner to your website">
                                            <span class="br">Redirects</span>
                                            <span class="br">(Week-on-Week)</span>
                                        </div>
                                    </th>

                                    <th class="metric">
                                        <div class="wrapper sov" tooltip="Share of market redirects for this route among top competitors">
                                            <span class="br">Share of Voice</span>
                                            <span class="br">(Week-on-Week)</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="list in originList | filter: { destination: d.routeId }">
                                <tr ng-repeat="o in list.origins">
                                    <td class="origin-iata">
                                        <span class="iata">{{ o.iata }}</span>
                                        <span class="airport-name">{{ o.name }}</span>
                                    </td>

                                    <td class="origin-name">
                                        <span class="airport-name">{{ o.name }}</span>
                                    </td>

                                    <td class="metric redirects">
                                        <span class="num">{{ o.redirects }}</span>
                                        <span class="pct {{ o.wow_redirects == 0 ? 'no-change' : (o.wow_redirects > 0 ? 'up' : 'down') }}">
                                            (<i class="fa fa-long-arrow-{{ o.wow_redirects > 0 ? 'up' : 'down' }}" ng-hide="o.wow_redirects == 0"></i>{{ o.wow_redirects == 0 ? o.wow_redirects : o.wow_redirects.toFixed(2) }}%)
                                        </span>
                                    </td>

                                    <td class="metric sov" ng-if="o.sov">
                                        <a href="http://business.skyscanner.net/portal/en-GB/Analytics" target="_blank" tooltip="Need information on your price competitiveness? Click to learn more about Travel Rankings" ng-click="registerTRInterest(d.routeId, o.routeId)">
                                            <span class="num">{{ (o.sov * 100).toFixed(2) + '%' }}</span>
                                            <span class="pct {{ o.wow_sov == 0 ? 'no-change' : (o.wow_sov > 0 ? 'up' : 'down') }}">
                                            (<i class="fa fa-long-arrow-{{ o.wow_sov > 0 ? 'up' : 'down' }}" ng-hide="o.wow_sov == 0"></i>{{ o.wow_sov == 0 ? o.wow_sov : o.wow_sov.toFixed(2) }}%)
                                            </span>
                                        </a>
                                    </td>

                                    <td class="metric sov" ng-if="o.sov === undefined">
                                        <div class="blocked-tooltip" tooltip="Need information on your price competitiveness? Click to learn more about Travel Rankings" ng-click="registerTRInterest(d.routeId, o.routeId)">
                                            <a href="http://business.skyscanner.net/portal/en-GB/Analytics" target="_blank">
                                                <span class="num blocked"></span>
                                                <span class="pct blocked"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="load-more text-right">
                            <div class="tr-tooltip" ng-show="d.ui.showTooltip" ng-mouseleave="clearTooltip(d.routeId)" ng-click="clearTooltip(d.routeId)">Unable to retrieve more origin airport data. Please contact your account manager.</div>

                            <button class="btn btn-primary btn-sm" ng-click="viewMore(d.routeId)" ng-disabled="d.ui.isViewMoreClicked">
                                <i class="fa fa-spinner fa-pulse" ng-show="d.ui.isViewMoreClicked"></i> View more
                            </button>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="load-more text-right" ng-show="destinationList.length">
                <div class="tr-tooltip tooltip-left" ng-show="showTooltip" ng-mouseleave="clearTooltip()" ng-click="clearTooltip()">Unable to retrieve more destination airport data. Please contact your account manager.</div>

                <button class="btn btn-primary" ng-click="viewMore()" ng-disabled="isViewMoreClicked">
                    <i class="fa fa-spinner fa-pulse" ng-show="isViewMoreClicked"></i> Load more destinations
                </button>
            </div>
        </div>
    </section>
</div>
