<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="traffic">
    <h2 class="page-header">My Traffic</h2>

    <div cg-busy="{ promise: vm.getFiltersPromise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: 'Preparing filters...', backdrop:true }">
        <section class="traffic-exploration" ng-show="vm.searchOptions">
            <div class="filters-search">
                <div class="filter-control">
                    <fc-mask-select id="dimension" label="Dimension by:" selected-value="vm.activeSearchFilters.dimension" options="vm.searchOptions.dimension" on-filter-changed="vm.onFilterChanged(value, name); vm.onDimensionChanged(value)" disabled="vm.activeSearchFilters.isLoading"></fc-select-mask>
                </div>

                <div class="filter-control">
                    <fc-mask-select id="segment" label="Breakdown by:" selected-value="vm.activeSearchFilters.segment" options="vm.searchOptions.segment" on-filter-changed="vm.onFilterChanged(value, name)" disabled="vm.activeSearchFilters.isLoading"></fc-select-mask>
                </div>

                <div class="filter-control">
                    <fc-mask-datepicker id="startDate" label="Date range from:" selected-value="vm.activeSearchFilters.startDate" min-date="vm.searchOptions.startDate.start" max-date="vm.searchOptions.startDate.end" date-format="vm.calendarDateFormat" on-filter-changed="vm.onFilterChanged(value, name); vm.onStartDateChanged()" disabled="vm.activeSearchFilters.isLoading"></fc-mask-datepicker>
                </div>

                <div class="filter-control-separator">
                    <i class="fa fa-arrow-circle-right"></i>
                </div>

                <div class="filter-control dropdown">
                    <fc-mask-datepicker id="endDate" label="Date range to:" selected-value="vm.activeSearchFilters.endDate" min-date="vm.searchOptions.endDate.start" max-date="vm.searchOptions.endDate.end" date-format="vm.calendarDateFormat" on-filter-changed="vm.onFilterChanged(value, name)" disabled="vm.activeSearchFilters.isLoading"></fc-mask-datepicker>
                </div>
            </div>

            <div class="filters-values">
                <div class="filter-toggle" ng-repeat="filter in vm.searchOptions.filters">
                    <fc-mask-filter filter="filter" selected-value="vm.activeSearchFilters.includeFilters[filter.code]" disabled="vm.activeSearchFilters.isLoading"></fc-mask-filter>
                </div>

                <div class="filter-toggle filter-action">
                    <button class="btn btn-primary btn-go" ng-click="vm.applyFilters()" ng-disabled="vm.activeSearchFilters.isLoading || vm.activeSearchFilters.isDisabled">
                        <span>Go</span>
                        <i class="fa fa-arrow-right" ng-hide="vm.activeSearchFilters.isLoading"></i>
                        <i class="fa fa-spinner fa-pulse" ng-show="vm.activeSearchFilters.isLoading"></i>
                    </button>
                </div>
            </div>
        </section>
    </div>

    <div class="alert alert-danger" ng-show="vm.feedback.message && vm.feedback.area !== 'table'">
        <i class="fa fa-exclamation-circle"></i> {{ vm.feedback.message }}
    </div>

    <div cg-busy="{ promise: vm.metricDataPromise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: 'Preparing data...', backdrop:true }">
        <section class="traffic-data" ng-show="!vm.activeSearchFilters.isLoading && vm.metricsData.summary.length">
            <h3 class="metric-data-header">Result for <span class="metric-data-type" ng-bind="vm.activeSearchFilters.view.title"></span></h3>

            <div class="row">
                <div class="metrics-container metrics-totals col-md-7">
                    <div class="metric-control" ng-class="{ active: metric.active === true, highlighted: metric.highlighted === true, disabled: metric.disabled === true, alerted: metric.alerted === true }" ng-repeat="metric in vm.metricsData.summary | filter: { type: 'count' } track by metric.id" ng-click="vm.switchMetricView(metric)" tooltip="{{ metric.description }}" tooltip-popup-delay="500" tooltip-append-to-body="true">
                        <h3 class="metric-header" ng-bind="metric.title"></h3>
                        <div class="metric-total" ng-bind="metric.value"></div>
                    </div>
                </div>

                <div class="metrics-container metrics-rates col-md-5 pull-right">
                    <div class="metric-control" ng-class="{ active: metric.active === true, highlighted: metric.highlighted === true, disabled: metric.disabled === true, alerted: metric.alerted === true }" ng-repeat="metric in vm.metricsData.summary | filter: { type: '!count' }  track by metric.id" ng-click="vm.switchMetricView(metric)" tooltip="{{ metric.description }}" tooltip-popup-delay="500" tooltip-append-to-body="true">
                        <h3 class="metric-header" ng-bind="metric.title"></h3>
                        <div class="metric-total" ng-bind="metric.value"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="traffic-data">
        <div class="chart-container">
            <div id="traffic-chart" class="xy-chart"></div>
        </div>

        <div class="table-container" ng-show="!vm.activeSearchFilters.isLoading && vm.metricsData.staticTableData.length">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="metric-data-header data-table-header">
                        Data for <span class="metric-data-type" ng-bind="vm.metricsData.tableView.title"></span>
                    </h3>
                </div>

                <div class="col-md-4 pull-right">
                    <button class="btn btn-primary btn-download" ng-click="vm.download()" ng-disabled="vm.activeSearchFilters.isLoadingDownload">
                        <i class="fa fa-download" ng-hide="vm.activeSearchFilters.isLoadingDownload"></i>
                        <span>Download</span>
                        <i class="fa fa-spinner fa-pulse" ng-show="vm.activeSearchFilters.isLoadingDownload"></i>
                    </button>
                </div>
            </div>

            <div class="alert alert-danger" ng-show="vm.feedback.message && vm.feedback.area === 'table'">
                <i class="fa fa-exclamation-circle"></i> {{ vm.feedback.message }}
            </div>

            <div class="table-scroll-container" infinite-scroll="vm.scrollTable()" infinite-scrolling-distance="3">
                <table st-table="vm.metricsData.staticTableData" st-safe-src="vm.metricsData.tableView[vm.metricsData.tableView.code].body" class="table table-hover table-striped table-traffic">
                    <thead>
                        <tr>
                            <th class="sorter" ng-repeat="rowHeader in vm.metricsData.tableView[vm.metricsData.tableView.code].header">
                                <span class="sort-header" ng-repeat="(key, value) in rowHeader">{{ value }} <i class="fa fa-exclamation-circle" ng-if="((key === 'scrape_count' || key === 'scrape2book_ratio') && vm.activeSearchFilters.dimension.code === 'carrier')" tooltip="{{ (vm.metricsData.summary | filter: { id: key })[0].description }}"></i></span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="row in vm.metricsData.staticTableData" ng-init="rowIndex = $index" ng-class="{ 'total-cell': rowIndex === 0 ? true : false }">
                            <td ng-repeat="col in row" ng-init="colIndex = $index" ng-class="{ 'total-cell': col['_total'] ? true : false, 'highlight-cell': col[vm.activeSearchFilters.view.id] ? true : false }">
                                <span ng-repeat="(key, value) in col">{{ value }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
