@import "global-variables.less";

/* generic XY chart container */
.chart-container {
    position: relative;

    .xy-chart {
        min-height: 350px;
        margin: 20px;
        clear: both;
    }
}

/* Y-GRID */
.c3-grid line.c3-ygrid {
    stroke: lighten(@gray-base, 90%);
    stroke-opacity: 0.8;
    stroke-dasharray: 1;
}

.c3-axis-y-label,
.c3-axis-x-label {
    font-size: 1.2em;
}

/* bars */
.c3-bar._expanded_ {
  fill-opacity: 0.8;
  stroke-width: 2px;
  stroke-opacity: 1;
}


/* legend */
.c3-legend-item {
    font-size: 13px;
}


/* X-GRID */
.c3-xgrid-focus {
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.c3-line {
    stroke-width: 2px;
}

.c3-axis .tick text {
    fill: @gray-light;
}

.c3-axis .tick line,
.c3-axis .domain {
    stroke: #eee;
}

.c3-tooltip td {
    font-size: 12px;
    padding: 3px 6px;
}

.c3-tooltip td.value {
    font-weight: bold;
}
