/* global variables */
@ssBlue: #44cdde;
@ssYellow: #f0d700;
@ssGreen: #91c043;
@ssRed: #f67979;
@ssGreenCTA: #aae700;

@monospace: Consolas, Monaco, sans-serif;

/* Bootstrap defaults */
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@table-bg-accent:       #f9f9f9;
@table-cell-padding:    8px;

@border-radius-base:    4px;
@border-radius-large:   6px;
@border-radius-small:   3px;
