.panel-overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);

    .overlay-header {
        font-size: 1.3em;
        margin: 0.5em 0 1em;
    }

    .overlay-content {
        position: relative;
        margin: 0 auto;
        top: 20%;
        width: 80%;
        padding: 10px 20px 4px;
        border-radius: 5px;
        background-color: rgba(221, 221, 221, 0.8);
        color: #333;
    }

    @media screen and (min-width: 768px) {
        .overlay-content {
            width: 55%;
        }
    }

    @media screen and (min-width: 1280px) {
        .overlay-content {
            width: 40%;
        }
    }
}
