<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper">
    <div id="outer-container" ui-layout>
        <div ui-layout-container>
            <div ui-layout="{flow : 'column'}">
                <!--Scrape Details-->
                <div ui-layout-container class="scrape_details pane tests_list_pane" size="30%">
                    <div cg-busy="{promise:scraperSettingsPromise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: 'Loading Scraper settings', backdrop:true}" class="col-md-12">
                        <pageslide ps-open="showScrapeTests">
                        <div style="transition: width 0.5s, height; -webkit-transition: width 0.5s, height; z-index: 500; position: fixed; width: 600px; height: 90%; top: 55px; bottom: 0px; right: 0px;background: #eee; padding:10px; overflow-y:scroll;" class="demo-right">

                                <button ng-click="showScrapeTests=false" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></button>
                                <div>
                                    <h2>Scrapes</h2>
                                    
                                        <table class="table table-striped">
                                        <thead>

                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Created
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <div infinite-scroll='loadScrapes()' infinite-scroll-disabled='loadingScrapeTests || loadedLast || !showScrapeTests' infinite-scroll-distance='0'
                                          infinite-scroll-container="'.demo-right'">
                                     <tr ng-repeat="scrapeTest in scrapeTests">
                                                <td>
                                                    <a href="#/pa-scrapetester/{{websiteId}}/{{scrapeTest.id}}">{{scrapeTest.value.testsuite}}</a>
                                                </td>
                                                <td am-time-ago="scrapeTest.value.created_at">
                                                </td>
                                            </tr>
                                            <div style='clear: both;'></div>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                               
                        </div>
                        </pageslide>
                        <form role="form">
                            <h4>Website Settings ({{websiteId}})</h4>
                            <div class="form-group">
                                <label for="request_count">Request Count</label>
                                <select ng-model="scraperSettings.request_count" class="form-control">
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="25">25</option>
                                </select>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="dayview_ratio">Dayview ratio (0-1)</label>
                                    <input ng-model="scraperSettings.dayview_ratio" min="0" max="1" id="dayview_ratio" name="dayview_ratio" type="number" class="form-control" step="0.01" placeholder="0.5">


                                </div>

                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="mobile_ratio">Mobile ratio (0-1)</label>
                                    <input ng-model="scraperSettings.mobile_ratio" min="0" max="1" id="mobile_ratio" name="dayview_ratio" type="number" class="form-control" step="0.01" placeholder="0.5">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Data Center</label>

                                <div class="form-inline">
                                    <select ng-model="scraperSettings.datacenter" class="form-control" id="datacenter" tabindex="10" ng-change="change()">
                                        <option value="europe">europe</option>
                                        <option value="apac">apac</option>
                                    </select>
                                </div>

                            </div>
                        </form>
                        <form role="form">
                            <h4>Max Passengers</h4>
                            <div id="passenger_settings" class="numeric_fields">
                                <div class="form-inline">
                                    <div>
                                        <div class="form-group">
                                            <label for="max_adults">Adults</label>
                                            <input ng-model="scraperSettings.max_adults" min="1" id="max_adults" name="max_adults" type="number" class="form-control" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="max_children">Children</label>
                                            <input ng-model="scraperSettings.max_children" min="0" id="max_children" name="max_children" type="number" class="form-control" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="max_infants">Infants</label>
                                            <input ng-model="scraperSettings.max_infants" min="0" id="max_infants" name="max_infants" type="number" class="form-control" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="max_passengers">Total</label>
                                            <input ng-model="scraperSettings.max_passengers" min="0" id="max_passengers" name="max_passengers" type="number" class="form-control" placeholder="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form role="form">
                            <h4>Market settings</h4>
                            <div id="market_settings">
                                <div class="form-inline">
                                    <div>
                                        <div class="form-group">
                                            <label for="market">Market</label>
                                            <input ng-model="scraperSettings.market" id="market" name="market" type="text" class="form-control" minlength="2" maxlength="2"/>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <button id="run_scrapes" ng-disabled="runningScrapes || loadingTestCases || formIncomplete(scraperSettings)" ng-click="startScrapes(scraperSettings)" class="btn btn-primary btn-sm">Run Scrapes</button>
                        </div>
                    </div>
                </div>
                <!--Scrape test cases list-->
                <div ui-layout-container class="pane tests_pane" size="68%">
                    <div class="col-md-12">
                        <div class="row">
                            <button ng-disabled="runningScrapes || loadingTestCases" type="button" class="btn btn-default pull-right btn-sm" ng-model="showScrapeTests" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" style="margin:5px;">
                            Past Scrapes&nbsp;<i class="fa fa-bars"></i>
                            </button>
                            <button  ng-disabled="runningScrapes || loadingTestCases || !testConfigs" type="button" class="btn btn-default pull-right btn-sm" style="margin:5px;" ng-click="rerunScrapes(scraperSettings)">
                            Rerun Scrapes&nbsp;<i class="fa fa-refresh" ng-class="{true: 'fa-spin'}[scrapeTasksLen > 0]"></i>
                            </button>
                        </div>
                        <div class="row">
                            <ng-include src="'app/technical/templates/pa-scrapetester/scrape-test-cases-list.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
