<div cg-busy="{promise:testConfigsPromise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: testLoadingMessage, backdrop:true}" class="table-responsive" style="min-height:500px;">
    <table ng-show="testConfigs" class="test_cases table table-hover">
        <thead>
            <tr>
                <th class="text-center">Status</th>
                <th>From/To</th>
                <th class="text-center">Passengers</th>
                <th>Booking page</th>
                <th>Mobile</th>
                <th>Data Center</th>
                <th>Deeplink</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor:pointer;"
                ng-repeat="testConfigItem in testConfigs"
                ng-init="testConfigItem.lastrun.date = testConfigItem.lastrun.date
                ? testConfigItem.lastrun.date : runningLastRun[testConfigItem.id].date;
                testConfigItem.lastrun.response_date = testConfigItem.lastrun.response_date
                ? testConfigItem.lastrun.response_date : runningLastRun[testConfigItem.id].response_date;"
                ng-hide="(show_opstest == false && testConfigItem.datacenter == 'opstest')
                || isInThePast(testConfigItem)"
                ng-show="showExpired(isInThePast(testConfigItem), showExpiredTests)"
                ng-disabled="testConfigItem.id === selected_test_id"
                ng-class="{'successful': 'success', 'unavailable_quote': 'info', 'failure': 'danger'}[testConfigItem.lastrun.status || runningLastRun[testConfigItem.id].status]">
                
                <td class="text-center">
                    <!--Status-->
                    <h5 ng-hide="runningTest[testConfigItem.id]">
                    <!--Successful-->
                    <span ng-show="runningLastRun[testConfigItem.id].status == 'successful'
                        || testConfigItem.lastrun.status == 'successful'"
                        tooltip-placement="right"
                        tooltip="Successful"
                        class="text-success">
                        <i class="fa fa-lg fa-check-circle"></i>
                    </span>
                    <!--Service failure-->
                    <span ng-show="runninglastRun[testConfigItem.id].status == 'unknown' || testConfigItem.lastrun.status == 'unknown'"
                            tooltip-placement="right"
                            tooltip="Service failure({{testConfigItem.response.message.error_type || runningPAResponse[testConfigItem.id].message.error_type}})"
                            class="text-danger">
                        <i class="fa fa-lg fa-ban"></i>
                    </span>
                    <!--Failed-->
                    <span ng-show="runningLastRun[testConfigItem.id].status == 'failure'
                        || testConfigItem.lastrun.status == 'failure'"
                        tooltip-placement="right"
                        tooltip="{{testConfigItem.response.message.error_type || runningPAResponse[testConfigItem.id].message.error_type}}"
                        class="text-danger">
                        <i class="fa fa-lg fa-exclamation-circle"></i>
                    </span>
                    <!--Noquotes-->
                    <span ng-show="runningLastRun[testConfigItem.id].status == 'unavailable_quote'
                        || testConfigItem.lastrun.status == 'unavailable_quote'"
                        tooltip-placement="right"
                        tooltip="Unavailable quote"
                        class="text-danger">
                        <i class="fa fa-lg fa-ban"></i>
                    </span>
                    </h5>
                    <!--Running-->
                    <h5 ng-show="runningTest[testConfigItem.id]">
                    <span tooltip-placement="right"
                        tooltip="Running">
                        <i class="fa fa-cog fa-spin fa-lg"></i>
                    </span>
                    </h5>
                </td>
                <!--From/To-->
                <td>
                    <div ng-repeat="leg in testConfigItem.legs">
                        <h5>
                            <span ng-repeat-start="segment in leg"
                                  class="label label-primary ng-binding place"
                                  tooltip="Departs on {{segment.dep_time | date:'yyyy-MM-dd HH:mm'}}">{{segment.from_iata}}</span>
                            <span class="glyphicon glyphicon-arrow-right" ng-repeat-end></span>
                            <span class="label label-primary ng-binding" tooltip="Arrives on {{leg[leg.length - 1].arr_time | date:'yyyy-MM-dd HH:mm'}}">{{leg[leg.length-1].to_iata}}</span>
                        </h5>
                        <hr ng-hide="$last" style="margin: 0;"/>
                    </div>
                </td>

                <!--Passengers-->
                <td>
                    <h5 class="text-center"
                    tooltip-placement="bottom"
                    tooltip="{{testConfigItem.adults}} adults, {{testConfigItem.children}} children, {{testConfigItem.infants}} infants">
                    <i class="fa fa-users"></i><br/>
                    {{testConfigItem.adults}}, {{testConfigItem.children}}, {{testConfigItem.infants}}
                    </h5>
                </td>
                <!--Depth-->
                <td>
                    <h5 class="text-center">
                        <span class="glyphicon glyphicon-ok ng-hide" ng-show="testConfigItem.depth=='booking_page'" tooltip="Booking page deeplink"></span>
                        <span class="glyphicon glyphicon-remove" ng-hide="testConfigItem.depth=='booking_page'" tooltip="Dayview deeplink"></span>
                    </h5>
                </td>
                <!--Mobile-->
                <td>
                    <h5 class="text-center">
                        <span class="glyphicon glyphicon-ok ng-hide" ng-show="testConfigItem.channel=='mobile'" tooltip="Mobile deeplink"></span>
                        <span class="glyphicon glyphicon-remove" ng-hide="testConfigItem.channel=='mobile'" tooltip="Desktop deeplink"></span>
                    </h5>
                </td>

                <!--Data Center-->
                <td>
                    <h5 class="datacenter" class="pull-left" tooltip-placement="bottom" tooltip="{{datacenter_map[testConfigItem.datacenter.toUpperCase()]}} ({{testConfigItem.server}})">
                    <i class="fa fa-database"></i>
                    {{testConfigItem.datacenter.toUpperCase() || ""}}
                    </h5>
                </td>
                <!--Deeplink-->
                <td>
                    <div class="deeplink">
                        <div
                            ng-init="oneway=(testConfigItem.return_date) ? false : true;">
                            <a  href="{{testConfigItem.deeplink}}"
                                tooltip-placement="bottom"
                                stop-event="click"
                                target="_blank"
                                class="btn btn-default btn-xs">
                                <span ng-hide="loading_skippy_deeplink[$index]">
                                    <span class="glyphicon glyphicon-new-window"></span>&nbsp;Dayview
                                </span>
                                <span ng-show="loading_skippy_deeplink[$index]">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Redirecting
                                </span>
                            </a>
                        </div>
                    </div>
                </td>
                <!--Messaging-->
                <td>

                    <div class="response" ng-hide="runningTest[testConfigItem.id]">
                        <a  ng-click="showScrapeTestResult(testConfigItem.response || runningPAResponse[testConfigItem.id]);selected_carriers=[]"
                            ng-disabled="loading_skippy_deeplink[$index]"
                            stop-event="click"
                            class="btn btn-default btn-xs">
                            <i class="fa fa-eye"></i>&nbsp;Response
                        </a>
                        <div ng-show="testConfigItem.response.data_url || runningPAResponse[testConfigItem.id].data_url" class="btn-group btn-group-xs">
                            <a href="{{encodeURL(testConfigItem.response.data_url || runningPAResponse[testConfigItem.id].data_url || '')}}"
                               target="_blank"
                               ng-show="testConfigItem.response.data_url || runningPAResponse[testConfigItem.id].data_url"
                               class="btn btn-default btn-xs" >Result folder</a>
                        </div>
                    </div>
                    <div class="running" ng-show="runningTest[testConfigItem.id]">
                        <div>
                            <span>Running..</span>
                        </div>
                    </div>
                </td>

        </tr>
        <!--
        <tr>
            <td colspan="8"></td>
            <td>
                <button id="rerun_scrapes" ng-click="reRunScrapes(testConfigs)" class="btn btn-primary btn-sm">Re-run Scrapes</button>
            </td>
            <td></td>
        </tr>
        -->
    </tbody>
</table>
<div ng-hide="testConfigs" class="well well-lg" role="alert">
    {{ startScrapeError || "No test cases found." }}
</div>
</div>