<div cg-busy="{promise:testConfigsPromise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: testLoadingMessage, backdrop:true}" class="table-responsive" style="min-height:500px;">
    <table ng-show="testConfigs" class="test_cases table table-hover">
        <thead>
            <tr>
                <th class="text-center">Status</th>
                <th>From/To</th>
                <th>Dates</th>
                <th class="text-center">Passengers</th>
                <th>Cabin Class</th>
                <th>Locale</th>
                <th>Data Center</th>
                <th>Debug</th>
                <th>Deeplink</th>
                <th ng-show="faultyScrape">Jira</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor:pointer;"
                ng-repeat="testConfigItem in testConfigs"
                ng-init="testConfigItem.lastrun.date = testConfigItem.lastrun.date
                ? testConfigItem.lastrun.date : runningLastRun[testConfigItem.id].date;
                testConfigItem.lastrun.response_date = testConfigItem.lastrun.response_date
                ? testConfigItem.lastrun.response_date : runningLastRun[testConfigItem.id].response_date;"
                ng-hide="(show_opstest == false && testConfigItem.datacenter == 'opstest')
                || isInThePast(testConfigItem)"
                ng-show="showExpired(isInThePast(testConfigItem), showExpiredTests)"
                ng-disabled="testConfigItem.id === selected_test_id"
                ng-class="{'successful': 'success', 'noquotes': 'info', 'noquotes': 'info', 'failure': 'danger'}[testConfigItem.lastrun.status || runningLastRun[testConfigItem.id].status]">
                
                <td class="text-center">
                    <!--Status-->
                    <h5 ng-hide="runningTest[testConfigItem.id]">
                    <!--Successful-->
                    <span ng-show="runningLastRun[testConfigItem.id].status == 'successful'
                        || testConfigItem.lastrun.status == 'successful'"
                        tooltip-placement="right"
                        tooltip="Successful"
                        class="text-success">
                        <i class="fa fa-lg fa-check-circle"></i>
                    </span>
                    <!--Failed-->
                    <span ng-show="runningLastRun[testConfigItem.id].status == 'failure'
                        || testConfigItem.lastrun.status == 'failure'"
                        tooltip-placement="right"
                        tooltip="{{(testConfigItem.jac_response.non_fatal.error_type || runningJacResponse[testConfigItem.id].non_fatal.error_type) || (testConfigItem.jac_response.error_details.exception_name || runningJacResponse[testConfigItem.id].error_details.exception_name)}}"
                        class="text-danger">
                        <i class="fa fa-lg fa-exclamation-circle"></i>
                    </span>
                    <span ng-show="runningLastRun[testConfigItem.id].status == 'noquotes'
                        || testConfigItem.lastrun.status == 'noquotes'"
                        tooltip-placement="right"
                        tooltip="No Quotes"
                        class="text-danger">
                        <i class="fa fa-lg fa-ban"></i>
                    </span>
                    </h5>
                    <!--Running-->
                    <h5 ng-show="runningTest[testConfigItem.id]">
                    <span tooltip-placement="right"
                        tooltip="Running">
                        <i class="fa fa-cog fa-spin fa-lg"></i>
                    </span>
                    </h5>
                </td>
                <!--From/To-->
                <td>
                    <h5>
                    <span class="label label-primary ng-binding from_place">{{testConfigItem.from_place}}</span>
                    <!--One-way flights-->
                    <span   tooltip-placement="bottom"
                        tooltip="One-way flight"
                        ng-hide="testConfigItem.return_date"
                    class="glyphicon glyphicon-arrow-right ng-scope ng-hide"></span>
                    <!--Return flights-->
                    <span   tooltip-placement="bottom"
                        tooltip="Return flight"
                        ng-show="testConfigItem.return_date"
                    class="glyphicon glyphicon-resize-horizontal ng-scope"></span>
                    <span class="label label-primary ng-binding to_place">{{testConfigItem.to_place}}</span>
                    </h5>
                </td>
                <!--Dates-->
                <td>
                    <h5 class="dates">
                    <span class="label label-primary">
                        <i class="fa fa-arrow-right"></i>
                        &nbsp;{{testConfigItem.depart_date | date : dateFormat.heading}}
                    </span><br/>
                    <span ng-show="testConfigItem.return_date">
                        <span class="label label-primary"><i class="fa fa-arrow-left"></i>&nbsp;{{testConfigItem.return_date | date : dateFormat.heading}}
                        </span>
                    </span>
                    </h5>
                </td>
                <!--Passengers-->
                <td>
                    <h5 class="text-center"
                    tooltip-placement="bottom"
                    tooltip="{{testConfigItem.adults}} adults, {{testConfigItem.children}} children, {{testConfigItem.infants}} infants">
                    <i class="fa fa-users"></i><br/>
                    {{testConfigItem.adults}}, {{testConfigItem.children}}, {{testConfigItem.infants}}
                    </h5>
                </td>
                <!--Cabin Class-->
                <td>
                    <h5 class="cabin_class">
                    {{cabinClassMap[testConfigItem.cabin_class] ? cabinClassMap[testConfigItem.cabin_class] : testConfigItem.cabin_class}}
                    </h5>
                </td>
                <!--Locale-->
                <td>
                    <h5 class="locale">
                    ({{testConfigItem.market}})&nbsp;{{testConfigItem.lang}}&nbsp;{{testConfigItem.currency}}
                    </h5>
                </td>
                <!--Data Center-->
                <td>
                    <h5 class="datacenter" class="pull-left" tooltip-placement="bottom" tooltip="{{datacenter_map[testConfigItem.datacenter.toUpperCase()]}}">
                    <i class="fa fa-database"></i>
                    {{testConfigItem.datacenter.toUpperCase() || ""}}
                    </h5>
                </td>
                <!--Debug-->
                <td>
                    <div class="debug">
                        <div ng-show="testConfigItem.jac_response.repro_links || runningJacResponse[testConfigItem.id].repro_links" class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" analytics-event="DebugDropdown" analytics-category="{{testConfigItem.website_id}}" analytics-label="{{username}}">
                            Debug
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-show="testConfigItem.jac_response.request_url_debug || runningJacResponse[testConfigItem.id].request_url_debug">
                                    <a  href="{{testConfigItem.jac_response.request_url_debug || runningJacResponse[testConfigItem.id].request_url_debug}}"
                                        target="_blank"
                                        stop-event="click">
                                        Jacquard URL
                                    </a>
                                </li>
                                <li ng-show="testConfigItem.jac_response.deeplink.dayview_debug || runningDeeplink[testConfigItem.id].dayview_debug">
                                    <a  href="{{testConfigItem.jac_response.deeplink.dayview_debug || runningDeeplink[testConfigItem.id].dayview_debug}}&debug=true"
                                        target="_blank"
                                        stop-event="click">
                                        Skippy URL
                                    </a>
                                </li>
                                <li ng-repeat="(key, value) in (testConfigItem.jac_response.repro_links || runningJacResponse[testConfigItem.id].repro_links)">
                                    <a  href="{{encodeURL(value)}}"
                                        target="_blank"
                                        analytics-on="click"
                                        analytics-event="{{key}}"
                                        analytics-category="{{testConfigItem.website_id}}"
                                        analytics-label="{{username}}"
                                        stop-event="click">
                                        {{toTitleCase(key)}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div style="min-width:100px;">
                            <small am-time-ago="testConfigItem.lastrun.date" style="font-size:11px;">
                            </small>
                        </div>
                    </div>
                </td>
                <!--Deeplink-->
                <td>
                    <div class="deeplink">
                        <div
                            ng-init="oneway=(testConfigItem.return_date) ? false : true;">
                            <a  ng-click="getSkippyDeeplink(testConfigItem.jac_response, runningJacResponse[testConfigItem.id], oneway, $index)"
                                ng-disabled="loading_skippy_deeplink[$index]"
                                tooltip-placement="bottom"
                                stop-event="click"
                                class="btn btn-default btn-xs">
                                <span ng-hide="loading_skippy_deeplink[$index]">
                                    <span class="glyphicon glyphicon-new-window"></span>&nbsp;Dayview
                                </span>
                                <span ng-show="loading_skippy_deeplink[$index]">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Redirecting
                                </span>
                            </a>
                        </div>
                    </div>
                </td>
                <!--Messaging-->
                <td>
                    <div ng-hide="runningTest[testConfigItem.id] || scrapeTester == true">
                        <div class="btn-group">
                            <button tooltip-placement="bottom"
                            tooltip="Run Test"
                            ng-disabled="deleting_testcase[$index] || runningTest[testConfigItem.id] || isInThePast(testConfigItem)" ng-click="pollTests(testConfigItem, testConfigItem.id, true, $index);selected_carriers=[]"
                            stop-event="click"
                            class="btn btn-primary btn-sm glyphicon glyphicon-play"
                            id="run_with_filters"></button>
                            <button tooltip-placement="bottom"
                            tooltip="Remove Test"
                            ng-disabled="deleting_testcase[$index] || runningTest[testConfigItem.id]"
                            ng-click="deleteTest(testConfigItem.id, $index)"
                            stop-event="click"
                            class="btn btn-sm glyphicon glyphicon-trash btn-danger"
                            id="delete_test_case"></button>
                        </div>
                        <div class="text-right" style="min-width:100px;">
                            <small am-time-ago="testConfigItem.lastrun.date" style="font-size:11px;">
                            </small>
                        </div>
                    </div>
                    <div class="response" ng-hide="runningTest[testConfigItem.id]">
                        <a  ng-click="showScrapeTestResult(testConfigItem.jac_response || runningJacResponse[testConfigItem.id]);selected_carriers=[]"
                            ng-disabled="loading_skippy_deeplink[$index]"
                            stop-event="click"
                            class="btn btn-default btn-xs">
                            <i class="fa fa-eye"></i>&nbsp;Response
                        </a>
                    </div>
                    <div class="running" ng-show="runningTest[testConfigItem.id]">
                        <div>
                            <span>Running..</span>
                            <button stop-event="click" ng-hide="scrapeTester" ng-click="cancelRunningTest(testConfigItem.id, $index)" stop-event="click" tooltip-placement="bottom" tooltip="Cancel" class="btn btn-danger btn-sm glyphicon glyphicon-remove">
                            </button>
                        </div>
                    </div>
                </td>
                <!-- Jira-->
                <td ng-init="jiraConfigItem = testConfigItem.hasOwnProperty('jac_response') ? testConfigItem : runningResponse[testConfigItem.id];">
                    <div class="jira" ng-show="isInternalUser()">
                        <div
                            ng-show="runningLastRun[testConfigItem.id].status == 'failure'
                            || testConfigItem.lastrun.status == 'failure'">
                        <a
                            ng-click="raiseJira(testConfigItem.hasOwnProperty('jac_response') ? testConfigItem : runningResponse[testConfigItem.id], $index)"
                            ng-hide="raisedTicket[$index]"
                            ng-disabled="raisingJira[$index]"
                            tooltip-placement="left"
                            tooltip="Please make sure that there are no duplicate issues raised."
                            stop-event="click"
                            class="btn btn-danger btn-xs">
                            <span ng-hide="raisingJira[$index]">
                                Create Ticket
                            </span>
                            <span ng-show="raisingJira[$index]">
                                Creating...
                            </span>
                        </a>
                        <a  ng-show="raisedTicket[$index]"
                            class="btn btn-primary btn-xs"
                            tooltip-placement="left"
                            tooltip="Link to Jira issue that you've just created."
                            href="https://external.skyscanner.co.uk/jira/browse/{{jiraResponse[$index].key}}"
                            target="_blank">
                            {{jiraResponse[$index].key}}
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <!--
        <tr>
            <td colspan="8"></td>
            <td>
                <button id="rerun_scrapes" ng-click="reRunScrapes(testConfigs)" class="btn btn-primary btn-sm">Re-run Scrapes</button>
            </td>
            <td></td>
        </tr>
        -->
    </tbody>
</table>
<div ng-hide="testConfigs" class="well well-lg" role="alert">
    No test cases found.
</div>
</div>