<div cg-busy="{promise:testConfigsPromise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: testLoadingMessage, backdrop:true}" class="table-responsive">
    <table st-table="displayedRegressionTest" class="table table-striped">
        <thead>
        <tr>
            <th>Result</th>
            <th st-sort="from_place">From</th>
            <th st-sort="to_place">To</th>
            <th st-sort="adults">Adults</th>
            <th st-sort="children">Children</th>
            <th st-sort="infants">Infants</th>
            <th st-sort="datacenter">Datacenter</th>
            <th st-sort="market">Market</th>
            <th st-sort="currency">Currency</th>
            <th st-sort="language">Language</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in regressionTest.test_cases | filter:resultFilter">
            <td>{{row.lastrun.status || 'unknown'}}</td>
            <td>{{row.from_place | uppercase}}</td>
            <td>{{row.to_place | uppercase}}</td>
            <td>{{row.adults | number}}</td>
            <td>{{row.children | number}}</td>
            <td>{{row.infants | number}}</td>
            <td>{{row.datacenter}}</td>
            <td>{{row.market}}</td>
            <td>{{row.currency}}</td>
            <td>{{row.lang}}</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>

    <div ng-hide="regressionTest.test_cases" class="well well-lg" role="alert">
        No test cases found.
    </div>
</div>