@import "../../common/styles/global-variables.less";

.routes {
    .route-header {
        overflow: hidden;
        margin-bottom: 15px;

        .topic-header {
            font-size: 1.5em;
            margin: 0 0 10px;
            font-weight: 700;
            color: white;
            padding: 10px;
            border-radius: 5px;
            background: @gray-darker;
            display: inline-block;
        }

        .form-inline {
            padding: 10px;
            border-radius: 5px;
            background: lighten(@gray-base, 92.5%);
            border: lighten(@gray-base, 90%);
        }
    }

    @media screen and (min-width: 1024px) {
        .route-header {
            overflow: hidden;

            .topic-header {
                float: left;
                margin: 0;
            }

            .form-inline {
                text-align: right;
                float: right;
                width: 50%;
                padding: 10px 5px 0;
                background: none;
                border: none;
            }
        }
    }

    .data-periods {
        text-align: right;
        font-size: 0.9em;
        line-height: 1.3;
        padding: 0.5em;
        color: @gray-light;

        span {
            display: inline-block;
            padding: 0 0.3em;
            font-size: 1.1em;
            font-weight: 700;
            color: @gray-dark;
        }

        span:last-child {
            padding-right: 0;
        }
    }

    .top-destinations-list {
        min-height: 5em;
        list-style: none;
        margin: 0 0 15px;
        padding: 0;

        li:nth-child(2n) {
            .dest-header {
                &.collapsed {
                    background: lighten(@gray-base, 97.5%);
                    border-color: lighten(@gray-base, 92.5%);
                }

                &:hover {
                    background: lighten(@gray-base, 90%);
                    border-color: lighten(@gray-base, 87.5%);
                }
            }
        }

        .load-more {
            margin-right: 12px;
        }
    }

    .dest-header {
        padding: 5px 5px 10px;
        box-sizing: border-box;
        line-height: 1;
        cursor: pointer;
        background: lighten(@gray-base, 90%);
        border: 1px solid lighten(@gray-base, 87.5%);
        transition: background 0.3s;

        &.collapsed {
            background: lighten(@gray-base, 95%);
            border-color: lighten(@gray-base, 92.5%);
        }

        &:hover {
            background: lighten(@gray-base, 90%);
            border-color: lighten(@gray-base, 87.5%);
        }

        &[aria-expanded=true] .fa.arrow:before {
            content: "\f107";
        }

        &[aria-expanded=false] .fa.arrow:before {
            content: "\f105";
        }

        .dest-name {
            display: inline-block;
            width: 68%;

            h4 {
                margin: 0;
                padding: 10px 10px 2px;
                font-size: 1.3em;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
            }

            .fa.arrow {
                position: relative;
                top: -1px;
                font-size: 1.2em;
                width: 10px;
            }

            .fa-spinner {
                margin-left: -8px;
            }

            .dest-code {
                margin-left: 0.5em;
                font-size: 1.5em;
            }

            .dest-title {
                display: block;
                padding-left: 2.5em;
                color: @gray-light;
            }
        }

        .dest-redirects {
            text-align: right;
            display: inline-block;
            width: 30%;

            .label-redirects {
                display: block;
                font-size: 0.8em;
                color: @gray-light;
                text-transform: uppercase;
                line-height: 1.5;
            }

            .num-redirects {
                font-size: 2em;
                font-weight: 700;
                display: block;
            }
        }
    }

    .dest-detail {
        padding: 0 2em 0.5em;
        background: lighten(@gray-base, 98.5%);
    }

    .table-origins {
        margin-bottom: 10px;

        th {
            font-size: 0.8em;
            padding: 15px 0 2px 10px;
            vertical-align: bottom;
            color: @gray-light;
            text-transform: uppercase;

            .tooltip {
                text-transform: none;
            }

            .wrapper {
                line-height: 1.3;
                white-space: nowrap;
                cursor: help;
                display: inline-block;
                max-width: 10em;
                padding-right: 20px;
                position: relative;


                .br {
                    float: right;
                }

                &:after {
                    display: inline-block;
                    position: absolute;
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-size: 1.5em;
                    right: 0;
                    top: -3px;
                    content: '\f059';
                    color: @gray-light;
                    transform: translate(0, 0);
                }
            }

            @media screen and (min-width: 1024px) {
                .wrapper {
                    padding-left: 30px;
                    max-width: 13em;
                    box-sizing: border-box;

                    &:before {
                        display: inline-block;
                        position: absolute;
                        font-family: FontAwesome;
                        color: @ssBlue;
                        font-weight: normal;
                        transform: scale(-1, 1);
                        width: 30px;
                        font-size: 2em;
                        top: 0;
                        left: 0;
                    }

                    &.redirects:before {
                        content: '\f122';
                    }

                    &.sov:before {
                        content: '\f200';
                    }

                    .fa {
                        font-size: 2.5em;
                        float: left;
                        margin-right: 5px;
                        color: @ssBlue;
                    }

                    .br {
                        float: left;
                    }
                }
            }
        }

        tbody td {
            opacity: 0.9;
            transition: all 0.1s;
            vertical-align: middle;
            transition: all 0.3s;
        }

        tbody tr:hover {
            transition: background 0.3s;

            td {
                opacity: 1;
            }
        }

        a:hover {
            text-decoration: none;
        }

        .airport-name {
            color: @gray;
            font-size: 0.9em;
            line-height: 1.2;
        }

        .origin-iata {
            width: 30%;
            vertical-align: middle;

            .iata {
                font-size: 1.5em;
                text-transform: uppercase;
            }

            .airport-name {
                display: block;
            }
        }

        .origin-name {
            display: none;
            width: 0%;
        }

        .metric {
            width: 35%;
            text-align: right;
        }

        .up {
            color: @ssGreen;
        }

        .down {
            color: @ssRed;
        }

        .no-change {
            color: @ssBlue;
        }

        .num {
            font-weight: 700;
            color: @gray-dark;
        }

        .pct {
            padding-left: 5px;

            .fa {
                padding: 0 2px;
            }

            &.blocked {
                width: 2.5em;
            }

            &:not(.blocked) {
                font-size: 0.9em;
            }
        }

        .blocked {
            display: inline-block;
            width: 3.5em;
            height: 1.2em;
            background: lighten(@gray-base, 85%);
        }

        .blocked-tooltip {
            display: inline-block;
            padding: 5px 5px 0;

            a:hover {
                text-decoration: none;
                display: block;
            }
        }

        @media screen and (min-width: 1024px) {
            .origin-iata {
                width: 10%;

                .airport-name {
                    display: none;
                }
            }

            .origin-name {
                width: 40%;
                display: table-cell;
            }

            .metric {
                width: 20%;
            }

            .pct {
                display: inline-block;
            }
        }
    }

    .iata {
        font-family: @monospace;
    }

    .load-more {
        margin-bottom: 10px;
        position: relative;

        .fa-spinner {
            margin-right: 3px;
        }

        .tr-tooltip {
            position: absolute;
            background: rgba(0, 0, 0, 0.9);
            color: #fff;
            border-radius: 5px;
            padding: 5px 8px;
            width: 17em;
            top: -210%;
            right: -55px;
            z-index: 1;
            font-size: 12px;
            line-height: 1.2;
            text-align: center;

            &:after {
                position:absolute;
                width: 0;
                height: 0;
                content: ' ';
                border: solid transparent;
                border-width: 7px;
                left: 50%;
                top: 100%;
                border-top-color: rgba(0, 0, 0, 0.9);
            }
        }

        .tooltip-left {
            top: -35%;
            right: 188px;

            &:after {
                left: 100%;
                top: 40%;
                border-left-color: rgba(0, 0, 0, 0.9);
                border-top-color: transparent;
            }
        }
    }
}
