@import "../../common/styles/global-variables.less";
@import "../../common/styles/mixins.less";

.metric-data-header {
    font-size: 1.6em;
    font-weight: normal;
    margin: 1em 0 -0.2em;
    color: @gray;

    &.data-table-header {
        margin: 0 0 0.4em;
    }

    .metric-data-type {
        color: darken(@ssBlue, 10%);
    }
}

.metrics-container {
    margin: 1em 0;
    .inline-flex-container();

    .metric-control {
        position: relative;
        cursor: pointer;
        opacity: 0.7;
        padding: 0.5em 0.5em 0;
        .inline-flex-item();

        &+ .metric-control {
            margin-left: 5px;
        }

        &.highlighted {
            opacity: 1;
        }

        &.disabled {
            opacity: 0.35;
            cursor: not-allowed;
        }
    }

    &.metrics-totals {
        .metric-control {
            border: 2px solid lighten(@gray-base, 92.5%);
            background-color: lighten(@gray-base, 97.5%);
            transition: all 0.1s;

            .metric-header {
                font-size: 1em;
                margin: 0 0 0.5em;
                font-weight: normal;
            }

            .metric-total {
                font-size: 1.5em;
                text-align: right;
            }

            &.highlighted {
                border-color: lighten(@gray-base, 80%);
            }

            &.disabled {
                border-color: lighten(@gray-base, 92.5%);
            }

            &.active {
                background-color: @ssBlue;
                border-color: darken(@ssBlue, 5%);
                opacity: 1;

                &:hover {
                    cursor: default;
                    background-color: @ssBlue;
                    border-color: darken(@ssBlue, 10%);
                }

                .metric-header {
                    color: white;
                }

                .metric-total {
                    color: white;
                }
            }

            &:not(.disabled):hover {
                background-color: darken(@ssBlue, 10%);
                border-color: darken(@ssBlue, 10%);
                opacity: 1;

                .metric-header {
                    color: white;
                }

                .metric-total {
                    color: white;
                }
            }
        }
    }

    &.metrics-rates {
        .metric-control {
            text-align: right;
            border-bottom: 2px solid transparent;
            transition: all 0.5s;

            .metric-header {
                font-size: 1.2em;
                margin: 0;
                font-weight: normal;
                color: @gray;
            }

            .metric-total {
                font-size: 1.6em;
                color: @ssBlue;
            }

            &.active {
                border-color: darken(@ssBlue, 10%);
                opacity: 1;

                .metric-header {
                    color: @gray-base;
                }

                .metric-total {
                    color: darken(@ssBlue, 10%);
                }
            }

            &:not(.disabled):hover {
                border-color: @ssBlue;
                opacity: 1;

                .metric-header {
                    color: @gray-dark;
                }

                .metric-total {
                    color: @ssBlue;
                }
            }
        }
    }
}

.table-container {

    .alert {
        margin: 0 0 10px;
    }

    .btn-download {
        float: right;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        box-shadow: none;
        font-weight: normal;
        margin-top: -2px;
        padding: 0.3em 0.8em;
        border-radius: 0;
        transition: color, opacity 0.5s;
    }

    .table-traffic {
        border-top: 2px solid lighten(@gray-base, 85%);
        border-bottom: 2px solid lighten(@gray-base, 85%);

        .total-cell {
            background-color: lighten(@gray-base, 92.5%);
            font-weight: bold;
        }

        .highlight-cell {
            background-color: lighten(@gray-base, 92.5%);
            transition: all 0.25s;
        }

        thead {
            th {
                border-bottom-color: lighten(@gray-base, 85%);
                background: lighten(@gray-base, 87.5%);
                padding-bottom: 0.2em;

                &:not(:first-child) {
                    text-align: right;
                }

                .help {
                    position: relative;
                    padding-right: 1em;

                    &:after {
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: "\f06a";
                        color: @gray-light;
                        display: inline-block;
                        font-family: FontAwesome;
                    }
                }
            }
        }

        tbody {
            td:first-child {
                text-align: left;
            }

            td {
                text-align: right;
            }
        }
    }

    .table-scroll-container {
        overflow-x: scroll;
    }
}

.chart-container {
    .xy-chart {
        margin: 20px 0;
    }
}
