@import "../../common/styles/global-variables.less";

.filter-toggle-icon(@icon) {
    position: absolute;
    display: inline-block;
    font-family: FontAwesome;
    content: @icon;
    opacity: 0.8;
}

.traffic-exploration {
    margin-bottom: 1em;

    label {
        font-weight: normal;
        font-size: 0.9em;
        opacity: 0.8;
        padding: 0;
        margin: 0;
        line-height: 1;
    }

    .filters-search {
        padding: 0.5em;
        border: 1px solid lighten(@gray-base, 90%);
        border-bottom: 0;
        background: lighten(@gray-base, 92.5%);
    }

    .filters-values {
        background: white;
        display: table;
        table-layout: fixed;
        width: 100%;

        .filter-toggle {
            display: table-cell;
            padding: 0.25em 0.5em;
            border: 1px solid lighten(@gray-base, 90%);

            &:hover {
                border-color: @ssBlue;
            }
        }

        .mask-filter {
            position: relative;

            &:after {
                .filter-toggle-icon("\f0d7");
                top: 55%;
                right: 0;
            }

            .mask-disabled {
                z-index: 2;
                display: block;
                position: absolute;
                height: 1.8em;
                width: 100%;
                background: transparent;
            }

            .multiselect-parent {
                width: 100%;
            }

            .btn {
                font-size: 1em;
                font-weight: bold;
                padding: 0;
                margin: 0;
                border: none;
                outline: none;
                background: transparent;
                box-shadow: none;
                text-align: left;
                width: 100%;
                opacity: 0.5;
                font-weight: normal;
                transition: color, opacity 0.5s;

                &:hover, &:active {
                    background: none;
                    outline: none;
                }

                .caret {
                    display: none;
                }

                &.active {
                    opacity: 1;
                    color: @gray-base;
                }

                &.error {
                    opacity: 1;
                    color: darken(@brand-danger, 10%);
                }
            }

            .dropdown-menu {
                min-width: 13em;
                max-height: 23em;
                left: -0.6em;
                border-radius: 0;
                overflow-x: hidden;
                overflow-y: auto;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                li a {
                    padding: 0.25em 0.75em;
                    cursor: pointer;
                }

                li:first-child,
                li:nth-child(2) {
                    display: inline-block;
                    font-size: 0.9em;
                    line-height: 2;

                    a {
                        padding: 0.25em 0.5em;
                        display: inline;
                    }
                }

                .divider {
                    margin: 5px 0;
                }
            }

            .dropdown-header {
                padding: 0.25em 0.75em;
            }
        }
    }

    .filter-control {
        display: inline-block;
        padding: 0.3em 5em 0.4em 0.6em;
        background-color: white;
        border: 1px solid lighten(@gray-base, 92.5%);
        line-height: 1;
        position: relative;

        &+ .filter-control {
            margin-left: 0.5em;
        }

        &:hover {
            border-color: @ssBlue;
        }

        .mask-select {
            &:after {
                .filter-toggle-icon("\f0d7");
                top: 60%;
                right: 0.8em;
            }
        }

        .mask-datepicker {
            &:after {
                .filter-toggle-icon("\f073");
                top: 55%;
                right: 0.6em;
            }
        }

        .mask-label {
            display: block;
            padding-top: 0.5em;
            font-size: 1.2em;
            min-height: 1.2em;
            color: @gray-base;

            &.disabled {
                color: lighten(@gray-base, 70%);
            }
        }

        .mask-control {
            position: absolute;
            top: 1.25em;
            left: 0;
            height: 2em;
            color: transparent;
            display: block;
            border: none;
            background: transparent;
            width: 100%;
            outline: none;
            padding: 0;
            margin: 0;
            opacity: 0;
            cursor: default;
            z-index: 2;
            -webkit-appearance: none;

            option {
                background-color: white;
                color: @gray-dark;
            }
        }
    }

    .filter-control-separator {
        margin: 0 0.5em;
        display: inline-block;
        vertical-align: 0.5em;
    }

    .filter-action {
        vertical-align: middle;
        text-align: center;
        width: 6em;

        .btn-go {
            vertical-align: middle;
            border-radius: 0;
            width: 100%;
            font-size: 1.3em;
            text-transform: uppercase;
            transition: opacity 1s;

            .fa {
                font-size: 0.8em;
                vertical-align: 1px;
            }
            &[disabled] {
                opacity: 0.4;
            }
        }
    }
}