@import "../../common/styles/global-variables.less";

#page-wrapper.traffic {
    .page-header {
        margin: 0;
        font-size: 1.2em;
        padding-top: 15px;
        border-bottom: 0;
    }
}

.traffic {

    @import "../styles/traffic-filters.less";
    @import "../styles/traffic-chart.less";


    /* hack */
    .bootstrap-datetimepicker-widget {
        border-radius: 0;

        table th.disabled,
        table td.disabled {
            color: lighten(@gray-base, 85%);

            &:hover {
                color: lighten(@gray-base, 85%);
            }
        }
    }
}
