<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="docs">
    <h2 class="page-header">FlightsConnect FAQs</h2>

    <div class="faq-md">
        <md ng-include="'app/documentation/markdowns/fc-faq.md'"></md>
    </div>
</div>
