<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="docs">
    <h2 class="page-header">Travel Rankings Documentation</h2>

    <div class="tr-docs">
        <tabset>
            <tab heading="Overview">
                <div class="tab-docs">
                    <md ng-include="'app/documentation/markdowns/tr-overview.md'"></md>
                </div>
            </tab>
            <tab heading="Dashboard Overview">
                <div class="tab-docs">
                    <md ng-include="'app/documentation/markdowns/tr-dashboard-overview.md'"></md>
                </div>
            </tab>

            <tab heading="Dashboard How-To">
                <div class="tab-docs">
                    <md ng-include="'app/documentation/markdowns/tr-dashboard-how-to.md'"></md>
                </div>
            </tab>

            <tab heading="Position and Rank">
                <div class="tab-docs">
                    <md ng-include="'app/documentation/markdowns/tr-position-and-rank.md'"></md>
                </div>
            </tab>

            <tab heading="Dashboard FAQs">
                <div class="faq-md">
                    <md ng-include="'app/documentation/markdowns/tr-dashboard-faq.md'"></md>
                </div>
            </tab>
        </tabset>
    </div>
</div>
