.login {

    .login-box {
        margin-top: 50px;
    }

    .panel-body {
        padding: 30px 15px;
    }

    .input-group {
        margin-bottom: 25px;
    }

    .forgot-password {
        line-height: 2.5;
    }
}
