<div class="login container">
    <div class="row">
        <div class="login-box col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Test Login</div>
                </div>

                <div class="panel-body" >
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" data-ng-animate="'custom'">{{ alert.msg }}</alert>


                    <form ng-submit="authenticate()" class="form-horizontal" role="form">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input ng-disabled="loggingIn" ng-model="username" id="login-username" type="text" class="form-control" name="username" placeholder="email address" autofocus>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input ng-disabled="loggingIn" ng-model="password" id="login-password" type="password" class="form-control" name="password" placeholder="password">
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <input ng-disabled="loggingIn || !isValid(username, password)" value="{{ loggingIn ? 'Logging in...' : 'Login' }}" id="btn-login" type="submit" class="btn btn-success" analytics-on="click" analytics-event="Login" analytics-category="noWebsiteID" analytics-label="{{username}}"/>
                            </div>

                            <div class="col-md-6 col-sm-6 text-right">
                                <a href="https://secure.skyscanner.net/SG/en-GB/ForgetPassword" target="_blank" analytics-on="click" analytics-event="forgotPassword" analytics-category="noWebsiteID" analytics-label="{{username}}" class="forgot-password">Forgot your password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
