<div ng-hide="running_test[selected_test_id]" id="search_results" class="search_results">
    <div ng-show="test_result.created_at">Created:&nbsp;{{test_result.created_at | date:dateFormat.detailed}},&nbsp;<span ng-show="test_result.answers[0].journey.quotes">{{test_result.answers[0].journey.quotes.length}}&nbsp;Quotes</span>
        <!-- ,&nbsp;<span ng-show="test_result.answers[0].journey.quotes">{{countFiltered(test_result.answers[0].journey.quotes)}}&nbsp;Filtered</span> -->
    </div>
<!--     <div ng-show="test_result.result_summary.stats.id == 'remove_duplicates'" class="text-danger">
        Found duplicate quotes, remove them.
    </div> -->

    <div ng-show="test_result.result_summary.stats.quote_filters.length > 0">
        <div>
            <button class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed">Filter Summary</button>
        </div>
        <div collapse="isCollapsed">
            <div class="list-group">
                <a ng-show="getFilterDetails(filter.id)" ng-repeat="filter in test_result.result_summary.stats.quote_filters" class="list-group-item">
                    <p class="text-danger">{{getFilterDetails(filter.id)}}</p>
                    <p class="text-default">{{filter.num_removed}} quotes removed by Skyscanner.</p>
                </a>
            </div>            
        </div>
    </div>    
<!--     <div ng-show="is_skyscanner_staff && test_result.filtering_info">
        <div>
            <button class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed">Route Details</button>
        </div>
        <div collapse="isCollapsed">
            <div class="well well-sm">
                <div>Filtered by LUSA:&nbsp;{{test_result.filtering_info.filtered_by_lusa_1}}</div>
                <div>Route Enabled:&nbsp;{{test_result.filtering_info.route_enabled}}</div>
                <div>Parner Not Required:&nbsp;{{test_result.filtering_info.partner_not_queried}}</div>
                <div>Routedate response:&nbsp;{{test_result.filtering_info.routedate_response}}</div>
            </div>
        </div>
    </div> -->
</div>
<div ng-hide="running_test[selected_test_id]" class="panel panel-default">
    <div class="panel-heading" style="height:55px;">
        <label class="checkbox-inline pull-left">
            <span ng-show="test_result.answers && test_result.filtering_info">
            <input data-ng-model="show_filtered_quotes" type="checkbox" name="filter-quotes" class="input-sm" />&nbsp;Show filtered quotes
            </span>
        </label>

<!--         <div ng-show="web_config.pricing_type === 'Scheduled' && test_result.carriers.length > 0"
            class="carrier_filter pull-left" style="margin-left:10px;">
            <multiselect multiple="true"
            ng-model="selected_carriers"
            options="c.name for c in test_result.carriers"
            change="selectedCarrier()"></multiselect>
        </div> -->

        <div ng-show="test_result.repro_links" class="btn-group pull-right btn-group-xs">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" analytics-event="DebugDropdown" analytics-category="{{testConfig.website_id}}" analytics-label="{{username}}">
            Debug
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-show="test_result.request_url_debug">
                    <a  href="{{test_result.request_url_debug}}"
                        target="_blank"
                        stop-event="click">
                        Jacquard URL
                    </a>
                </li>
                
                <li ng-show="test_result.deeplink.dayview_debug">
                    <a  href="{{test_result.deeplink.dayview_debug}}&debug=true"
                        target="_blank"
                        stop-event="click">
                        Skippy URL
                    </a>
                </li>
                <li ng-repeat="(key, value) in test_result.repro_links">
                    <a  href="{{encodeURL(value)}}" target="_blank" analytics-on="click" analytics-event="{{key}}" analytics-category="{{testConfig.website_id}}" analytics-label="{{username}}">{{toTitleCase(key)}}</a>
                </li>
            </ul>
        </div>
        

    </div>
    <table ng-show="test_result.answers && isValidJacquardResponse(test_result.answers)" class="search_results table table-condensed table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Outbound</th>
                <th ng-show="test_result.answers[0].journey.quotes[0].legs[1]">Inbound</th>
                <th>Total Fare</th>
            </tr>
        </thead>
        <tbody ng-repeat="answer in test_result.answers">
            <tr ng-repeat="quote in answer.journey.quotes | quoteFilter:show_filtered_quotes:test_result track by $index" ng-init="quote_index = quote.routedate_uid + quote.price.currency + quote.price.total.px + $index"
                ng-class="{danger:isFiltered(quote), info:clicked_select[$index], info:loading_pa[quote_index], info:pa_results[index].done}" title="{{isFiltered(quote) && 'Filtered' || ''}}{{isFiltered(quote) && '. Reason: ' + (quote.filter_message || filterReasons(test_result, quote) || '')}}"
                ng-show="showByCarrier(selected_carriers, quote)">
                <td ng-repeat="leg in quote.legs">
                    <div ng-repeat="segment in leg.segments">
                        <div ng-init="addToCarrierFilter(test_result, segment.market_carrier_name, segment.skyscanner_marketing_carrier_id, selected_carriers)">
                            <!--
                            <pre>{{getCarrierLogo(segment.skyscanner_marketing_carrier_id || segment.marketing_carrier_id)}}</pre>
                            -->
                            <img tooltip-placement="right" tooltip="{{segment.market_carrier_name}}" alt="{{segment.market_carrier_name}}" 
                            ng-show="getCarrierLogo(segment.skyscanner_marketing_carrier_id || segment.marketing_carrier_id)" 
                            ng-src="{{getCarrierLogo(segment.skyscanner_marketing_carrier_id || segment.marketing_carrier_id)}}"
                            err-src=""
                            alt="{{segment.skyscanner_marketing_carrier_id|| getAirlineID(segment.marketing_carrier_id)}}"/>
                        </div>
                        <div>
                            <h6>
                            <span ng-show="segment.from_place_iata && segment.to_place_iata">{{segment.from_place_iata}} - {{segment.to_place_iata}}</span>
                            <span ng-show="segment.skyscanner_marketing_carrier_id" class="carrier_id label label-success">{{segment.skyscanner_marketing_carrier_id}} {{segment.marketing_segment_code}}</span>
                            </h6>
                            <h6><b>{{segment.dep_time | date: dateFormat.quote}}</b> - <b>{{segment.arr_time | date: dateFormat.quote}}</b></h6>
                            <h6><em>{{segment.cabin_class}}</em></h6>
                        </div>
                    </div>
                </td>
                <td>
                    <h5 id="price">{{quote.price.total.total | currency:quote.price.currency}}&nbsp;
                    <!--Prices match-->
                    <span   ng-show="price_diff[quote_index]==0
                    && pa_results[quote_index].done==true
                    && pa_results[quote_index].status!='ERROR'"
                    tooltip-placement="top"
                    tooltip="Prices match"
                    class="text-success">
                    <i class="fa fa-lg fa-check-circle"></i></span>

                    <span   ng-show="price_diff[quote_index]!=0
                    && pa_results[quote_index].done==true
                    && pa_results[quote_index].status!='ERROR'"
                    class="text-danger">
                    <i  ng-show="price_diff[quote_index] > 0"
                    tooltip-placement="top"
                    tooltip="{{price_diff[quote_index] | currency:pa_results[quote_index].result.price.currency}} higher than the price in the partner's booking page: {{pa_results[quote_index].result.price.value | currency:pa_results[quote_index].result.price.currency}}"
                    class="fa fa-lg fa-arrow-up"></i>
                    <i  ng-show="price_diff[quote_index]<0"
                    tooltip-placement="top"
                    tooltip="{{price_diff[quote_index] | currency:pa_results[quote_index].result.price.currency}} lower than the price in the partner's booking page: {{pa_results[quote_index].result.price.value | currency:pa_results[quote_index].result.price.currency}}" class="fa fa-lg fa-arrow-down"></i>&nbsp;{{price_diff[quote_index] | currency:pa_results[quote_index].result.price.currency}}
                    </span>
                    </h5>

                    <div class="top5">


                        <!-- Deeplink button -->

                        <a ng-click="redirectSkippyDeeplink(test_result.deeplink.dayview, quote)" class="btn btn-primary btn-sm deeplink" role="button" target="_blank">
                            <span class="glyphicon glyphicon-new-window"></span>&nbsp;Deeplink
                        </a>

                        <div ng-show="isFiltered(quote) && (quote.filter_message || filterReasons(test_result, quote) || '') == 'Filtered by Skyscanner Quote Filters.'">
                            <a ng-click="showFilterReasons()" style="cursor:pointer;">
                                Why is this filtered?
                            </a>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>