<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper">
    <div id="outer-container" ui-layout>
        <div ui-layout="{flow : 'column'}">
            <div ui-layout-container class="pane tests_list_pane" size="50%">
                <div class="pane">
                  <ng-include src="'app/technical/templates/searchtest/test-flight-box.html'"></ng-include>
                </div>
                <ng-include src="'app/technical/templates/searchtest/test-cases-list.html'"></ng-include>

            </div>
            <div ui-layout-container class="pane tests_pane" size="49%" >
                <ng-include src="'app/technical/templates/searchtest/test-results-list.html'"></ng-include>
            </div>
        </div>
    </div>
</div>