<div ng-init="departDate = testConfig.depart_date; returnDate = testConfig.return_date" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" class="accordion-heading" data-parent="#accordion" data-target="#flight_search">
        Flight Search
      </a>
    </h4>
  </div>
   <!-- collapse="!show_search" -->
  <div id="flight_search" class="panel-collapse collapse in">
    <div class="panel-body">

      <div class="form-group pull-left">
      <!--Origin/Destination IATA Codes-->
        <div>
          <div class="form-group pull-left">
            <label for="from_place">From&nbsp;<i ng-show="loading_from" class="fa fa-refresh fa-spin fa-sm"></i></label>
            <input typeahead="location as location.PlaceName + ' (' + ((location.PlaceId.length == 4) ? 'Any' : location.PlaceId) + ')' for location in getLocationAutoSuggest($viewValue)" typeahead-loading="loading_from" typeahead-min-length="3" ng-model="testConfig.from_place" id="from_place" name="from_place" type="text" class="from_place form-control place" placeholder="e.g. RIX" typeahead-
            input-formatter="formatGeoLabel($model)">

          </div>

          <div class="form-group pull-left">
            <label for="to_place">To&nbsp;<i ng-show="loading_to" class="fa fa-refresh fa-spin fa-sm"></i></label>
            <input typeahead="location as location.PlaceName + ' (' + ((location.PlaceId.length == 4) ? 'Any' : location.PlaceId) + ')' for location in getLocationAutoSuggest($viewValue)" typeahead-loading="loading_to" typeahead-min-length="3" ng-model="testConfig.to_place" id="to_place" name="to_place" type="text" class="to_place form-control place" placeholder="e.g. BCN" typeahead-input-formatter="formatGeoLabel($model)">

          </div>
        </div>
        
        <!--Dates-->
        <div class="form-group pull-left" style="min-width:515px;">
          <form name="datepickerForm" class="form-inline" role="form">
            <!-- Date range example -->
            <div>
              <div>
                <button ng-click="toggleOneway(is_oneway)" ng-model="is_oneway" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" class="btn btn-default btn-sm" type="button">
                    <label ng-hide="is_oneway" class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i>&nbsp;Return</label>
                    <label ng-show="is_oneway" class="control-label"><i class="fa fa-calendar"></i>&nbsp;One-way</label>
                </button>
              </div>
              <div style="margin-top:10px;">
                  

                <div class="form-group" style="position:relative;">

                  <label for="departdate">Depart</label>&nbsp;
                  <input type="text" class="form-control input-sm"

                   datetimepicker
                   datetimepicker-options="{{departDatePickerOptions}}"
                   ng-change="updateDepart(departDate, returnDate)"

                   id="departdate"
                   placeholder="{{testConfig.depart_date}}"
                   name="depart"
                   ng-model="departDate">
                </div>

                <div class="form-group" style="position:relative;" ng-hide="is_oneway">

                  <label for="departdate">Return</label>&nbsp;
                  <input type="text" class="form-control input-sm"

                   datetimepicker
                   datetimepicker-options="{{returnDatePickerOptions}}"
                   ng-change="updateReturn(departDate, returnDate)"

                   id="returndate"
                   placeholder="{{testConfig.return_date}}"
                   name="return"
                   ng-model="returnDate">
                </div>

<!--                 <div class="form-group pull-left" style="margin-left:0;position:relative;">
                  <input  ng-model="testConfig.depart_date" 
                          datepicker-popup="{{datepicker_config.format}}" 
                          min-date="depart_min_date" 
                          datepicker-options="datepicker_config.depart_options" 
                          date-disabled="disabled(date, mode)" 
                          close-text="Close" 
                          ng-required="true" 
                          show-weeks="false" 
                          ng-change="updateDepart()"
                          type="text" class="form-control date col-md-6"/>
                </div>

                <div class="form-group pull-left" style="position:relative;">
                  <input  ng-model="testConfig.return_date"
                          ng-disable="is_oneway"
                          ng-hide="is_oneway"
                          datepicker-popup="{{datepicker_config.format}}"
                          min-date="testConfig.depart_date"
                          datepicker-options="datepicker_config.return_options"
                          date-disabled="disabled(date, mode)"
                          ng-required="true"
                          show-weeks="false"
                          close-text="Close"
                          type="text" class="form-control date col-md-6"/>
                </div> -->

              </div>
            </div>
          </form>
        </div>

        <!--Passengers-->
        <div class="passengers numeric_fields">
          <div class="form-group pull-left">
            <label for="max_adults">Adults</label>
            <select ng-model="testConfig.adults" id="max_adults" name="max_adults" class="form-control passengers">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
          </div>
          <div class="form-group pull-left">
            <label for="max_children">Children</label>
            <select ng-model="testConfig.children" id="max_children" name="max_children" class="form-control passengers">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
          </div>
          <div class="form-group pull-left">
            <label for="max_infants">Infants</label>
            <select ng-model="testConfig.infants" id="max_infants" name="max_infants" class="form-control passengers">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
        </div>

      </div>

      <div class="form-group pull-left">
        <div>
          <!--Cabin Classes-->
          <div class="form-group pull-left">
            <label for="cabin_class_select">Cabin Class</label>
            <select ng-model="testConfig.cabin_class" class="form-control" id="cabin_class_select" tabindex="10">
              <option value="economy">Economy</option>
              <option value="premium_economy">Premium Economy</option>
              <option value="business">Business class</option>
              <option value="first">First class</option>
            </select>
          </div>
          <!--Jacquard Boxes-->
          <div class="form-group pull-left">
            <label for="datacenter">Data Center</label>
            <select ng-model="testConfig.datacenter" class="form-control" id="datacenter" tabindex="10">
              <option value="sg1">SG1</option>
              <option value="uk1">UK1</option>
              <option value="uk2">UK2</option>
              <option value="nl1">NL1</option>
              <option value="hk1">HK1</option>
              <option value="opstest">Opstest</option>
              <option ng-show="is_skyscanner_staff" value="localhost">Localhost</option>
            </select>
          </div>
        </div>

        <div class="form-group pull-left search_button col-md-12">

          <div class="form-group pull-left" dropdown>
            <a href="#" ng-click="showLocale(testConfig)" class="dropdown-toggle" dropdown-toggle>
                {{testConfig.lang}} {{testConfig.currency}}<br/><img ng-show="testConfig.market" ng-src="http://images.skyscnr.com/images/country/flag/small/{{testConfig.market.toLowerCase()}}.png"/>
                <span class="caret"></span>
            </a>
          </div>

          <div class="pull-right">
            <!-- runTest(testConfig, '', 'filter', -1, 'nosave', is_oneway) -->
            <button id="run_test" ng-click="pollTests(testConfig, null, true, -1);" class="btn btn-primary btn-sm" ng-disabled="!formIsValid(testConfig) || tickRunning">Run Test</button>

            <button id="save_test" ng-click="saveTest(testConfig, is_oneway)" ng-disabled="saving_testcase || !formIsValid(testConfig) || tickRunning" title="Save this Test" class="btn btn-primary btn-sm">
              {{saving_testcase ? 'Saving...' : 'Save Test' }}
            </button>

          </div>
        </div>
      </div>

      <div class="form-group pull-left">
        <div class="form-group pull-left">
          Or paste the Skyscanner dayview URL:
        </div>

        <div  class="form-group pull-left">
            <input size="100"id="repro_link" name="repro_link" type="text" class="repro_link form-control"
            placeholder="e.g. http://www.skyscanner.com.sg/transport/flights/sin/hkg/150803/150803.html"
            ng-model="linkToConvert">
            </div>
              <div class="form-group pull-left">
          <button id="convert_link" ng-click="convertReproLink(linkToConvert)" class="btn btn-primary btn-sm">OK</button>
        </div>
    </div>
    </div>


  </div>
</div>