@import "../../common/styles/global-variables.less";

.permission-summary {
    .page-header {
        margin-bottom: 20px;
    }

    .filters {
        margin-bottom: 40px;

        .btn {
            margin: 0 .1em .1em 0;
            color: #fff;

            .badge {
                background: #fff;
                color: @gray-light;
            }
        }

        .btn-all {
            background-color: lighten(@gray-base, 65%);
            border-color: lighten(@gray-base, 65%);
        }

        .btn-none_deployed {
            background-color: @brand-danger;
            border-color: @brand-danger;
        }

        .btn-some_deployed {
            background-color: @brand-warning;
            border-color: @brand-warning;
        }

        .btn-all_deployed {
            background-color: @brand-success;
            border-color: @brand-success;
        }

        input {
            width: 15em;
            padding: 5px;
        }
    }

    .partner-item {
        border: 1px solid lighten(@gray-base, 85%);
        border-radius: 0;
        position: relative;
        margin-bottom: 30px;

        .partner-name {
            font-size: 1.25em;
            margin: 0 0 10px;
            position: absolute;
            top: -12px;
            left: 10px;
            padding: 5px 8px;
            border-radius: 3px;
            color: #fff;
        }

        &.status-none_deployed {
            border-color: @brand-danger;

            .partner-name {
                background-color: @brand-danger
            }
        }

        &.status-all_deployed {
            border-color: @brand-success;

            .partner-name {
                background-color: @brand-success
            }
        }

        &.status-some_deployed {
            border-color: @brand-warning;

            .partner-name {
                background-color: @brand-warning
            }
        }

    }

    .website-list {
        margin-top: 15px;
        padding-left: 0;
        list-style: none;
    }

    .website-item {
        border-bottom: 1px solid @gray-lighter;

        &:last-child {
            border-bottom: 0;
        }

        .website-name {
            font-size: 1.15em;
            margin: 0;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background: @gray-lighter;
            }
        }

        .website-details {
            padding: 10px 10px 10px 30px;

            .website-label {
                color: #fff;
                background: @gray-light;
                padding: 2px 5px;
                border-radius: 3px;
                font-size: 0.9em;
                display: inline-block;
            }

            .data {
                margin-bottom: 8px;
            }

            .status-label {
                font-size: 0.75em;
                display: block;
                margin-bottom: 2px;
            }

            .alert {
                margin-bottom: 0;
                padding: 2px 5px;
                font-size: 0.9em;
            }

            .progress {
                margin-bottom: 10px;
            }

            .label {
                font-size: 0.9em;
                font-weight: normal;
            }

            .btn {
                padding: 2px 5px;
            }

            .user {
                margin: 0 5px;
                border-bottom: 1px dotted lighten(@gray-base, 85%);
                display: inline-block;
            }
        }

        .alert-msg {
            display: table;
            min-height: 40px;

            .alert {
                padding: 5px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}
