@import "../../common/styles/global-variables.less";

.user-permissions {

    form {
        margin: 2em 0;
        padding: 2.5em 1em 1em;
        border: 1px solid lighten(@gray-base, 85%);
        position: relative;

        legend {
            display: inline-block;
            width: auto;
            font-size: 1em;
            margin: 0 0 10px;
            position: absolute;
            top: -1em;
            left: 10px;
            border-radius: 3px;
            color: white;
            padding: 5px 10px;
            font-weight: bold;
            background: @gray-light;
        }

        input[type=checkbox] {
            width: 100%;
            height: 1.2em;
        }
    }

    .username {
        font-size: 0.9em;
        color: @gray;
        display: inline-block;
        text-align: right;
        font-weight: bold;
    }

    .table-permissions {
        table-layout: fixed;
        margin-bottom: 0;

        td, th {
            width: 25%;
            vertical-align: middle;
        }

        input[type=checkbox]:hover {
            cursor: pointer;
        }

        .new-website {
            background: @gray-lighter;

            .form-control {
                width: 15em;
            }
        }
    }

    .scroll-container {
        max-height: 280px;
        overflow-y: scroll;
        margin-bottom: 30px;
    }

    .alert {
        padding: 0.5em 1em;
    }

    @media screen and (min-width: 768px) {
        .username {
            position: absolute;
            top: 7px;
            right: 14px;
        }
    }


    @media screen and (min-width: 1280px) {
        form {
            width: 75%;
        }
    }
}
