@import "../../common/styles/global-variables.less";

.fa (@icon, @iconColor, @iconSize, @top:0, @left:0) {
    position: relative;
    padding-left: @iconSize + 0.3em;

    &:before {
        display: inline-block;
        position: absolute;
        font-family: FontAwesome;
        content: @icon;
        color: @iconColor;
        width: @iconSize;
        top: @top;
        left: @left;
    }
}

.docs {
    .faq-md {
        p:first-child {
            margin-left: 0;
            margin-bottom: 0;
            font-size: 1.2em;
            background: @gray-lighter;
            padding: 1em;
            border-radius: @border-radius-large;
        }

        h2 {
            font-size: 1.2em;
            color: #eee;
            display: inline-block;
            padding: 0.4em 0.5em;
            margin: 1.5em 0 1em;
            background: #111;
            border-radius: @border-radius-large;
            .fa("\f02b", white, 1.1em, 7px, 5px);
        }

        h3 {
            font-size: 1.1em;
            color: @gray-dark;
            margin: 0 0 0.2em 0;
            font-weight: bold;
            .fa("\f059", @gray-dark, 1em);
        }

        p + h3 {
            margin-top: 1.25em;
        }

        p {
            font-size: 1em;
            color: @gray-dark;
            margin: 0 0 1em 1.5em;
        }

        ol, li {
            margin-bottom: 1em;

            li {
                margin-bottom: 0.5em;
            }
        }
    }
}
