@import "../../common/styles/global-variables.less";

.docs {
    .tr-docs {
        .nav-tabs {
            li {
                a {
                    font-weight: bold;
                    font-size: 1em;
                }
            }
        }

        .faq-md {
            padding: 1.5em 0.5em;
        }

        .tab-docs {
            padding: 1.5em 0.5em;

            * + h3 {
                padding-top: 1.5em;
            }

            * + h4 {
                padding-top: 1em;
            }

            h3 {
                font-size: 1.3em;
                color: @gray-dark;
                margin: 0 0 0.2em 0;
                font-weight: bold;
            }

            p {
                font-size: 1em;
                color: @gray-dark;

                img {
                    display: block;
                    margin: 1em 0;
                    padding: 2px;
                    background: #ddd;
                    box-shadow: 2px 2px 5px #ddd, -2px -2px 5px #ddd;
                    max-width: 800px;
                }
            }

            ul, li {
                margin-bottom: 1em;

                ul {
                    margin: 0.5em 0;
                }

                li {
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}
