<div class="loading-dots-wrapper">
    <div class="loading-dots">
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
    </div>
</div>
