<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="feedback">

    <h2 class="page-header">Send your feedback</h2>

    <form name="FeedbackForm" ng-controller="FeedbackCtrl">
        <div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages">
            {{messages}}
        </div>

        <div class="form-group">
            <label for="email">Your E-mail address</label>
            <input id="email" type="email" name="email" ng-model="email" class="form-control" placeholder="john@doe.com" required />
            <span class="text-info" ng-show="FeedbackForm.email.$dirty && FeedbackForm.email.$invalid">Invalid Email.</span>
        </div>

        <div class="form-group">
            <label for="comments">Description</label>
            <textarea placeholder="Your Feedback" id="comments" name="comments" ng-model="comments" class="form-control" required></textarea>
        </div>

        <button id="submit_feedback" ng-click="sendFeedback(comments, email, website_id)" ng-disabled="sending_feedback || !(comments) || !(email)" class="btn btn-default">
            Submit
        </button>
    </form>

</div>
