<div class="cg-busy-default-wrapper">

   <div class="cg-busy-default-sign">

      <div class="cg-busy-default-spinner">
         <i class="fa fa-circle-o-notch fa-spin fa-lg"></i>
      </div>

      <div class="cg-busy-default-text"><small>{{$message}}</small></div>

   </div>

</div>