<div class="modal-body">

<h3>Possible Reasons</h3>

<div>
<h4>Post Processing</h4>
<p>
In order to provide the best and most relevant results to our users, we apply several stages of filtering which may alter the results that are finally displayed to the end user on the website. 
These filters and adjustments are detailed below and are applied in order shown.
</p>


<h4>LUSA</h4>

<p>
LUSA stands for “Live Update Selection Algorithm”. It controls which providers are called during our live update processes. LUSA is applied before any requests to third parties and it is used in order to reduce the server load as well as costs involved (connecting to GDS, maintaining our infrastructure) for both Skyscanner and third parties.<br/>
Instead of querying all possible providers for a search, it focuses on the most relevant ones. In order to determine relevance, factors including historical price accuracy, response and redirect statistics, flight duration, number of transfers to reach the final destination as well as a few other metrics are considered.<br/>
At the moment, this process it is used mainly for airlines, but it is also applied in a few Skyscanner markets in order to improve the usability and performance of the site.
</p>

<h4>Remove Duplicates</h4>

<p>
Once LUSA has determined which providers to query, all the quotes from these are analysed for duplicates. This process of removing duplicates is applied for each provider separately.
Currently, two flights are considered identical if they have the same departure and arrival airport and time, the same flight number and airline identifier.<br/>
Cabin Class is not used as an identifier in the current system. Instead, we execute different searches for different cabin classes. As a result, itineraries that do not share the search’s cabin class are deleted from the search result.<br/>
Once duplicates have been identified, only the cheapest option remains. All itineraries that have a higher price than the cheapest option are removed. For this we order all the flights by price, starting with the lowest. Then, any itinerary that is more expensive than the cheapest is removed.
</p>

<h4>Commercial Filters (Business Logic)</h4>

<p>
This filtering mechanism applies to travel agents only. 
In some circumstances, some of the airlines we have a commercial relationship with have requested to be removed from search results of other sources, i.e. travel agents. As such we remove all of these price quotes from the result set before displaying them on our site in the search results.
The list of these airlines changes frequently so please get in touch with the Skyscanner Commercial contact for more information.
</p>


<h4>Max Results Limit</h4>

<p>
Using the ordered and filtered list obtained from the “Removed Duplicates” and “Commercial Filters” section we then apply a limit on the number of results returned. This limit is currently set to 150 and applies per provider. We chose this number to avoid cluttering the Day View for the user with too many options to choose from. In addition, setting a result limit reduces the load on our quotes processing system.
</p>

<h4>Smart Sort</h4>

<p>
The SmartSort system is designed to remove “near” duplicate quotes from the system. Also, the price quotes returned to the user are arranged in a more meaningful order.<br/>
SmartSort is applied in order to improve the speed of the website. It also aids in different flights having a better visibility and usability on the site. Overall, it enhances and the responsiveness of the entire system.
</p>

<p>For example, price quotes on indirect routes can be quite similar:</p>
<ul>
<li>They differ only with regard to the middle or final segment of one leg.</li>
<li>The same actual flights are represented as different combinations of marketing carriers (code shares)</li>
</ul>


<p>As such SmartSort groups, orders and removes the following:</p>
<ul>
<li>Price: For a given set of flights, we always show the cheapest.</li>
<li>Duration: For a given set of flights, we give precedence to the shortest inbound and outbound flights</li>
<li>Codeshare: Where there is a codeshare with another airline, we remove the duplicate quotes for the given non-marketing airline.</li>
<li>Duplicates: We remove quotes that leave at the same time, but are more expensive and get in at a later point. We group this per airport and airline so there are still many quotes that are returned. But it prevents lots of via points being used that have longer layovers.</li>
</ul>
</div>

</div>