<div class="mask-filter">
    <label for="filter-{{ filter.code }}" ng-bind="filter.name"></label>

    <span class="mask-disabled" ng-if="disabled == true"></span>

    <div name="filter-{{ filter.code }}" ng-dropdown-multiselect="" options="filter.values" selected-model="selectedValue" extra-settings="filter.settings" translation-texts="filter.settings.textLabels" events="filter.settings.events"></div>
</div>
