<div class="mask-select">
    <label for="{{ id }}" ng-bind="label"></label>

    <span class="mask-label" ng-bind="selectedValue.name" ng-class="{ disabled: disabled == true }"></span>

    <select name="{{ id }}" class="mask-control" ng-model="selectedValue" ng-options="option.name for option in options track by option.code" ng-options-disabled="option.disabled === true for option in options" ng-change="onFilterChanged({ name: id, value: selectedValue })" ng-disabled="disabled"></select>
</div>
