<div class="mask-datepicker">
    <label for="{{ id }}" ng-bind="label"></label>

    <span class="mask-label" ng-bind="selectedValue" ng-class="{ disabled: disabled == true }"></span>

    <input name="{{ id }}" type="text" class="mask-control"
       datetimepicker
       datetimepicker-options="{{ configs }}"
       ng-model="selectedValue"
       ng-change="onFilterChanged({ name: id, value: selectedValue })"
       ng-disabled="disabled">
</div>
