<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="permission-summary">
    <h2 class="page-header">Commercial Permission Summary</h2>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="well filters">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <input name="partner-name" type="text" ng-model="filter.partner" placeholder="Search partner name" ng-change="searchPartner()" ng-disabled="statusSummary === undefined">
                    </div>

                    <div class="text-right cold-sm-12 col-md-9">
                        <span ng-repeat="(status, partners) in statusSummary">
                            <button class="btn btn-{{ status }}" type="button" ng-click="filterList(status)">
                                {{ status }} <span class="badge">{{ partners.length }}</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <ul class="partner-list list-group" ng-repeat="partner in partnerList">
                <li class="partner-item list-group-item status-{{ partner.status }}">
                    <h4 class="partner-name">{{ partner.partner_name }}</h4>

                    <ul class="website-list">
                        <li class="website-item" ng-repeat="web_id in partner.website_ids track by web_id.id" ng-init="wIndex = $index">
                            <div cg-busy="{ promise:websiteIdList[web_id.id].promise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
                                <h5 class="website-name" data-toggle="collapse" data-target="#{{ web_id.id }}"><i class="fa fa-external-link-square"></i> {{ web_id.id }}</h5>

                                <div class="collapse website-details" id="{{ web_id.id }}">
                                    <div class="row users">
                                        <div class="col-md-2">
                                            <span class="website-label">
                                                <i class="fa fa-users"></i> Users
                                            </span>
                                        </div>

                                        <div class="col-md-10">
                                            <ul class="list-inline" ng-if="web_id.usernames.length">
                                                <li class="user" ng-repeat="user in web_id.usernames track by user">{{ user }}</li>
                                            </ul>

                                            <p ng-if="web_id.usernames.length === 0" class="alert alert-info">No active user yet.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>
