<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="user-permissions">
    <h2 class="page-header">User Permissions Management</h2>

    <div cg-busy="{ promise:promise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
        <form method="get" ng-submit="lookupUser(queryUsername)" class="user-lookup">
            <p class="alert alert-danger" ng-show="invalidEmail">
                <i class="fa fa-exclamation-circle"></i> User {{ username }} does not exist in the system. Please enter a valid email to continue.
            </p>

            <fieldset>
                <legend>User Lookup</legend>

                <div class="form-group">
                    <label for="username">User email address</label>
                    <input type="text" class="form-control" name="username" placeholder="username@partneraccount.com" ng-model="queryUsername" ng-change="invalidEmail = false" autofocus>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary" ng-disabled="queryUsername.length === 0">Lookup</button>
                </div>
            </fieldset>
        </form>

        <form method="post" ng-show="showPermissions">
            <p class="username" ng-show="userExists"><i class="fa fa-user"></i> {{ username }}</p>

            <p class="alert alert-info" ng-show="!userExists"><i class="fa fa-user-plus"></i> User {{ username }} does not exist in the system. Please assign website ID permission for the user before adding the user.</p>

            <p class="alert alert-{{ submitAction.isSuccess ? 'success' : 'danger'}}" ng-show="submitAction.message.length">
                <i class="fa fa-{{ submitAction.isSuccess ? 'check-circle' : 'exclamation-circle'}}"></i> {{ submitAction.message }}
            </p>

            <fieldset>
                <legend>User Permissions</legend>

                <table class="table table-condensed table-permissions">
                    <tr>
                        <th>Website ID</th>
                        <th class="text-center">Technical</th>
                        <th class="text-center">Commercial</th>
                        <th></th>
                    </tr>

                    <tr class="new-website">
                        <td class="form-group" colspan="4">
                            <fc-website-selector on-select="addWebsite(id)" start-empty="true"></fc-website-selector>
                        </td>
                    </tr>
                </table>

                <div class="scroll-container">
                    <table class="table table-condensed table-permissions">
                        <tr ng-repeat="permission in permissionList">
                            <td>{{ permission.websiteId }}</td>
                            <td class="form-group text-center">
                                <input type="checkbox" name="tech-permission" ng-change="checkTechnicalPermission()" ng-model="permission.technical">
                            </td>
                            <td class="form-group text-center">
                                <input type="checkbox" name="com-permission" ng-change="checkTechnicalPermission()" ng-model="permission.commercial">
                            </td>
                            <td>
                                <button type="button" class="btn btn-xs btn-danger" ng-click="removePermission($index)"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="text-right">
                    <button type="button" class="btn btn-primary" ng-disabled="submitAction.btnDisabled" ng-if="userExists" ng-click="updatePermissions()">Update Permissions</button>

                    <button type="button" class="btn btn-primary" ng-disabled="!permissionList || permissionList.length === 0 || submitAction.btnDisabled === true" ng-if="!userExists" ng-click="addUser()">Send Invite</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
