@import "../common/styles/global-variables.less";
@import "../common/styles/mixins.less";

.dashboard {
    .page-header {
        margin-bottom: 1em;
    }

    .widget {
        margin-bottom: 2.25em;
    }

    .widget--bordered {
        padding: 0.75em;
        border-radius: 2px;
        border: 1px solid lighten(@gray-base, 85%);
    }

    .widget__header-wrapper {
        overflow: hidden;
        margin-bottom: 0.5em;
    }

    .widget__heading {
        font-size: 1.2em;
        margin: 0;
        color: @gray-base;
        float: left;
    }

    .widget__controls {
        float: right;
        font-size: 0.9em;
        display: inline-block;
    }

    .widget__control-text {
        margin-right: 5px;
        color: @gray;
        line-height: 1;

        strong {
            color: @gray-base;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .widget__control-link {
        padding: 0.25em 0.5em;
        color: @gray;
        border: 1px solid lighten(@gray-base, 90%);
        background: lighten(@gray-base, 92.5%);
        border-radius: 2px;
        line-height: 1;
        transition: all 0.1s;
    }

    .widget__control-link:hover,
    .widget__control-link--active {
        color: white;
        background: @ssBlue;
        border-color: darken(@ssBlue, 10%);
        text-decoration: none;
    }


    /** metrics */
    @import "styles/traffic.less";
}
