<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="dashboard">

    <h2 class="page-header">Your Dashboard</h2>

    <div ng-show="vm.traffic.allowed" cg-busy="{ promise: vm.traffic.commercialDataPromise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
        <section class="widget">
            <div class="widget__header-wrapper">
                <h3 class="widget__heading">Traffic Results</h3>
                <div class="widget__controls" ng-if="!vm.traffic.error">
                    <span class="widget__control-text"><strong ng-bind="vm.traffic.startDate"></strong> to <strong ng-bind="vm.traffic.endDate"></strong></span>
                    <a class="widget__control-link" ng-click="vm.traffic.changeStartDate(vm.traffic.weeklyStartDate)" ng-class="{ 'widget__control-link--active': vm.traffic.isStartDateActive(vm.traffic.weeklyStartDate) }">Week</a>
                    <a class="widget__control-link" ng-click="vm.traffic.changeStartDate(vm.traffic.monthlyStartDate)" ng-class="{ 'widget__control-link--active': vm.traffic.isStartDateActive(vm.traffic.monthlyStartDate) }">Month</a>
                </div>
            </div>

            <div class="widget__body">
                <div class="metrics metrics-count">
                    <div class="metrics__metric" ng-repeat="metric in vm.traffic.metrics | filter: { type: 'count' } track by metric.code" ng-click="vm.redirectPage('traffic', metric.code)">
                        <h4 class="metrics__metric-name" ng-bind="metric.title"></h4>
                        <h5 class="metrics__metric-number" ng-bind="metric.value"></h5>
                    </div>
                </div>

                <div class="metrics metrics-rate">
                    <div class="metrics__metric" ng-repeat="metric in vm.traffic.metrics | filter: { type: '!count' } track by metric.code" ng-click="vm.redirectPage('traffic', metric.code)">
                        <div class="metrics__metric-rate-wrapper">
                            <h4 class="metrics__metric-name" ng-bind="metric.title"></h4>
                            <span class="metrics__metric-desc" ng-bind="metric.desc"></span>
                        </div>
                        <h5 class="metrics__metric-number" ng-bind="metric.value"></h5>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" ng-if="vm.traffic.error">
                <p>Data is currently unavailable.</p>
                <p ng-if="vm.traffic.error === 403">Please contact your Account Manager to get access.</p>
            </div>
        </section>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div cg-busy="{ promise: vm.liveUpdatesHealth.liveUpdatesPromise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
                <section class="widget widget--bordered">
                    <div class="widget__header-wrapper">
                        <h3 class="widget__heading">Live Updates API Health</h3>
                        <div class="widget__controls">
                            <span class="widget__control-text">Past {{ vm.liveUpdatesHealth.dataCollectionPeriod }} hours</span>
                        </div>
                    </div>

                    <div class="widget__body">
                        <div id="api-health-chart" ng-show="vm.liveUpdatesHealth.error !== true"></div>
                        <div class="alert alert-danger" ng-show="vm.liveUpdatesHealth.error === true">There was a problem loading data.</div>
                    </div>
                </section>
            </div>
        </div>

        <div class="col-md-6">
            <div cg-busy="{ promise: vm.deeplinkHealth.deepLinkPromise, templateUrl:'app/common/templates/loader-dots/loader-dots.html', backdrop:true }">
                <section class="widget widget--bordered">
                    <div class="widget__header-wrapper">
                        <h3 class="widget__heading">Redirects Health</h3>
                        <div class="widget__controls">
                            <span class="widget__control-text">Past 15 minutes</span>
                        </div>
                    </div>

                    <div class="widget__body">
                        <div id="deeplink-health-chart" ng-show="vm.deeplinkHealth.error !== true"></div>
                        <div class="alert alert-danger" ng-show="vm.deeplinkHealth.error === true">There was a problem loading data.</div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
