<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper">
    <div id="outer-container" ui-layout>
        <div ui-layout-container >
            <div ui-layout="{flow : 'column'}" >
                <!--Scrape Details-->
                <div ui-layout-container class="scrape_details pane tests_list_pane" size="30%">
                    <div cg-busy="{promise:scraperSettingsPromise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: 'Loading Scraper settings', backdrop:true}" class="col-md-12">
                        <pageslide ps-open="showScrapeTests">
                        <div style="transition: width 0.5s, height; -webkit-transition: width 0.5s, height; z-index: 500; position: fixed; width: 600px; height: 90%; top: 55px; bottom: 0px; right: 0px;background: #eee; padding:10px; overflow-y:scroll;" class="demo-right">

                                <button ng-click="showScrapeTests=false" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></button>
                                <div>
                                    <h2>Scrapes</h2>
                                    
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Created
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <div infinite-scroll='loadScrapes()' infinite-scroll-disabled='loadingScrapeTests || loadedLast || !showScrapeTests' infinite-scroll-distance='0'
                                         infinite-scroll-container="'.demo-right'">
                                     <tr ng-repeat="scrapeTest in scrapeTests">
                                                <td>
                                                    <a href="#/scrapetester/{{websiteId}}/{{scrapeTest.id}}">{{scrapeTest.value.testsuite}}</a>
                                                </td>
                                                <td am-time-ago="scrapeTest.value.created_at">
                                                </td>
                                            </tr>
                                            </div>
                                        </tbody>
                                    </table>
                                     <div ng-show='loadingScrapeTests'>Loading more data...</div>
                                </div>
                        </div>
                        </pageslide>
                        <form role="form">
                            <h4>Route Settings</h4>
                            <div class="form-group">
                                <div class="btn-group btn-group-xs">
                                    <label class="btn btn-default" ng-model="scraperSettings.route_settings" btn-radio="'auto_market'">By Market</label>
                                    <label class="btn btn-default" ng-model="scraperSettings.route_settings" btn-radio="'auto_website'">By Website</label>
                                    <label class="btn btn-default" ng-model="scraperSettings.route_settings" btn-radio="'WRMD_manual'">WRMD Manual</label>
                                    <label class="btn btn-default" ng-model="scraperSettings.route_settings" btn-radio="'WRMD_scraped'">WRMD Scraped</label>
                                    <label class="btn btn-default" ng-model="scraperSettings.route_settings" btn-radio="'manual'">Manual Entry</label>
                                </div>
                            </div>
                            <div ng-show="scraperSettings.route_settings=='auto_website'" class="form-group">
                                <div class="form-group">
                                    <div>
                                        <label for="routes_website_id" ng-model="request">Website ID</label>
                                        <input ng-model="scraperSettings.routes_website_id" type="text" class="form-control" id="routes_website_id" placeholder="Website ID">
                                    </div>
                                </div>
                            </div>
                            <div ng-show="scraperSettings.route_settings=='auto_market'" class="form-group">
                                <div class="form-group">
                                    <div>
                                        <label for="market" ng-model="request">Market</label>
                                        <input ng-model="scraperSettings.market" type="text" class="form-control" id="market" placeholder="Market">
                                    </div>
                                </div>
                            </div>
                            <div ng-show="scraperSettings.route_settings=='manual'" class="form-group">
                                <div class="form-group">
                                    <label for="origin_routes" ng-model="request">From (comma separated)</label>
                                    <input ng-model="scraperSettings.origin_routes" type="text" class="form-control" id="origin_routes" placeholder="From Place Routes">
                                </div>
                                <div class="form-group">
                                    <label for="destination_routes" ng-model="request">To (comma separated)</label>
                                    <input ng-model="scraperSettings.destination_routes" type="text" class="form-control" id="destination_routes" placeholder="To Place Routes">
                                </div>
                            </div>
                        </form>
                        <form role="form">
                            <h4>Website Settings</h4>
                            <div class="form-group">
                                <label for="request_count">Request Count</label>
                                <select ng-model="scraperSettings.request_count" class="form-control">
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="25">25</option>
                                </select>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>One-way/Return</label>
                                    <select ng-model="scraperSettings.mode" class="form-control" id="mode">
                                        <option value="both">Both</option>
                                        <option value="OW">One-way</option>
                                        <option value="RT">Return</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="ratio">Return ratio (0-1)</label>
                                    <input ng-model="scraperSettings.ratio" min="0" max="1" id="ratio" name="ratio" type="number" class="form-control" step="0.01" placeholder="0.5">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="depart_days">Departure weekdays, comma separated (Monday=0, Sunday=6)</label>
                                <div class="form-group">
                                    <input ng-model="scraperSettings.depart_days" type="text" class="form-control" ng-required="true" close-text="Close" placeholder="All" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="depart_days">Return weekdays, comma separated (Monday=0, Sunday=6)</label>
                                <div class="form-group">
                                    <input ng-model="scraperSettings.return_days" type="text" class="form-control" ng-required="true" close-text="Close" 
                                    placeholder="All" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cabin_classes">Cabin Classes:</label>
                                <div class="form-group">
                                    <label ng-repeat="cabinClass in availableCabinClasses" class="checkbox-inline">
                                        <input ng-model="scraperSettings.cabin_classes[cabinClass.toLowerCase()]" type="checkbox" id="{{cabinClass.toLowerCase()}}">&nbsp;{{toTitleCase(cabinClass)}}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <em>Live Update Engine&nbsp;<strong>{{webConfig.live_update_engine}}</strong>&nbsp;Deeplink Engine&nbsp;<strong>{{webConfig.deeplink_engine}}</strong></em>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Data Center</label>

                                <label for="live_update_pool" class="checkbox-inline">
                                    <!--Check when live update pool settings from runway is blacklist-->
                                    <input ng-model="scraperSettings.is_blacklist" type="checkbox" id="live_update_pool">Blacklist
                                </label>
                                <div class="form-inline">
                                    <select ng-model="scraperSettings.datacenter" class="form-control" id="datacenter" tabindex="10" ng-change="change()">
                                        <option value="all">Random Prod DC</option>
                                        <option value="sg1">SG1</option>
                                        <option value="uk1">UK1</option>
                                        <option value="uk2">UK2</option>
                                        <!--nl1 is currently not supported for blacklist-->
                                        <option value="nl1" ng-hide="scraperSettings.is_blacklist">NL1</option>
                                        <option value="hk1">HK1</option>
                                        <option value="opstest">Opstest</option>
                                        <option value="localhost" ng-hide="scraperSettings.is_blacklist">Localhost</option>
                                    </select>
                                    <div ng-show="showPortInput" class="form-group numeric_fields">
                                        <label for="port_number">Port Number</label>
                                        <input ng-model="scraperSettings.port" type="number" min="0" max="65535" id="port_number" name="port_number" class="form-control" placeholder="1731" >
                                    </div>
                                </div>

                            </div>
                        </form>
                        <form role="form">
                            <h4>Max Passengers</h4>
                            <div id="passenger_settings" class="numeric_fields">
                                <div class="form-inline">
                                    <div>
                                        <div class="form-group">
                                            <label for="max_adults">Adults</label>
                                            <input ng-model="scraperSettings.max_adults" min="1" id="max_adults" name="max_adults" type="number" class="form-control" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="max_children">Children</label>
                                            <input ng-model="scraperSettings.max_children" min="0" id="max_children" name="max_children" type="number" class="form-control" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="max_infants">Infants</label>
                                            <input ng-model="scraperSettings.max_infants" min="0" id="max_infants" name="max_infants" type="number" class="form-control" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="max_passengers">Total</label>
                                            <input ng-model="scraperSettings.max_passengers" min="0" id="max_passengers" name="max_passengers" type="number" class="form-control" placeholder="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="max_seats">Seats</label>
                                            <input ng-model="scraperSettings.max_seats" min="0" id="max_seats" name="max_seats" type="number" class="form-control" placeholder="0"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form role="form" class="top5">
                            <h4>Deeplink Settings</h4>
                            <div class="form-group">
                                <label for="user_countries">User Countries (comma separated)</label>
                                <input ng-model="scraperSettings.user_countries" type="text" class="form-control" id="user_countries" placeholder="User Countries">
                            </div>
                            <div class="form-group">
                                <label for="user_languages">User Languages (comma separated)</label>
                                <input ng-model="scraperSettings.user_languages" type="text" class="form-control" id="user_languages" placeholder="User Languages">
                            </div>
                            <div class="form-group">
                                <label for="user_currency">User Currency (comma separated)</label>
                                <input ng-model="scraperSettings.user_currency" type="text" class="form-control" id="user_currency" placeholder="User Currency">
                            </div>
                        </form>
                        <div class="form-group">
                            <button id="run_scrapes" ng-disabled="runningScrapes || loadingTestCases || formIncomplete(scraperSettings)" id="run_scrapes" ng-click="startScrapes(scraperSettings)" class="btn btn-primary btn-sm">Run Scrapes</button>
                        </div>
                    </div>
                </div>
                <!--Scrape test cases list-->
                <div ui-layout-container class="pane tests_pane" size="68%">
                    <div class="col-md-12">
                        <div class="row">
                            <button ng-disabled="runningScrapes || loadingTestCases" type="button" class="btn btn-default pull-right btn-sm" ng-model="showScrapeTests" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" style="margin:5px;">
                            Past Scrapes&nbsp;<i class="fa fa-bars"></i>
                            </button>
                            <button  ng-disabled="runningScrapes || loadingTestCases || !testConfigs" type="button" class="btn btn-default pull-right btn-sm" style="margin:5px;" ng-click="rerunScrapes(scraperSettings)">
                            Rerun Scrapes&nbsp;<i class="fa fa-refresh" ng-class="{true: 'fa-spin'}[scrapeTasksLen > 0]"></i>
                            </button>
                        </div>
                        <div class="row">
                            <ng-include src="'app/technical/templates/scrapetester/scrape-test-cases-list.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
