@import "../common/styles/global-variables.less";

.travel-rankings {

    option {
        &[disabled] {
            color: lighten(@gray-base, 70%);
            background: lighten(@gray-base, 97.5%);
        }
    }

    .ac {
        position: relative;

        .form-control {
            padding-right: 1.7em;
        }

        .clear-ac {
            position: absolute;
            top: 2.2em;
            right: 1.2em;
            width: 2em;
            background: rgba(255, 255, 255, 0.6);
            outline: none;
            border: 0;

            &:disabled {
                display: none;
            }
        }
    }

    .menu {
        margin-top: -10px;

        .fa {
            margin-left: 5px;
            margin-right: 5px;
        }

        .btn {
            font-size: 1.2em;
            color: @brand-primary;
            background-color: transparent;
            transition: background 0.3s;

            &:hover {
                background: lighten(@gray-base, 92.5%);
                color: @gray-darker;
            }

            &:disabled {
                font-weight: bold;
                color: @gray-darker;
            }
        }
    }

    .meta-info {
        margin-top: -10px;

        p {
            margin: 0;
            font-size: 0.9em;
            color: @gray-light;
        }

        .icon {
            padding-left: 3px;
            color: @gray-dark;
            font-weight: 700;
        }
    }

    .filters {
        padding: 1em 1em 0;
        margin: 1em 0;
        background-color: lighten(@gray-base, 92.5%);
        position: relative;
        border-radius: @border-radius-large;

        &::before {
            position: absolute;
            width: 0;
            height: 0;
            content: ' ';
            border: solid transparent;
            border-width: 15px;
            left: 25px;
            top: -30px;
            border-bottom-color: lighten(@gray-base, 92.5%);
        }

        &.filter-dates::before{
            left: 128px;
        }

        &.filter-itineraries::before {
            left: 240px;
        }
    }

    .filters-static {
        padding: 1em;
        position: relative;

        .filter-block {
            float: left;
            overflow: hidden;

            + .filter-block {
                clear: left;
                margin-top: 1.5em;
                padding-bottom: 2.5em;
            }

            @media screen and (min-width: 768px) {
                + .filter-block {
                    clear: none;
                    margin:0 0 0 4em;
                }
            }

            @media screen and (min-width: 1024px) {
                + .filter-block {
                    padding-bottom: 0;
                }
            }

            .place {
                margin: 0.5em 0;
                font-size: 1.3em;
            }

            .date {
                margin: 0.5em 0 0;
                font-size: 1em;
            }
        }

        .last-search {
            position: absolute;
            bottom: 0.5em;
            right: 1em;
            text-align: right;
        }
    }

    .table {
        th {
            vertical-align: bottom;
            background-color: lighten(@ssBlue, 15%);
            font-weight: normal;
            color: @gray-dark;
            line-height: 1.2;
            text-align: center;
        }

        th[colspan] {
            text-align: center;
        }

        th.sorter {
            cursor: pointer;
            background-color: lighten(@ssBlue, 12.5%);

            .sort-header {
                position: relative;
                padding: 0 10px 0 15px;
                font-weight: normal;
                color: @gray-dark;

                &:before,
                &:after {
                    display: inline-block;
                    position: absolute;
                    font-family: FontAwesome;
                    color: @gray-dark;
                    font-weight: normal;
                    width: 30px;
                    font-size: 15px;
                    left: -10px;
                    top: 1px;
                    content: '\f0d7';
                }

                &:after {
                    top: -7px;
                    content: '\f0d8';   /* top */
                }
            }

            &:hover {
                background-color: @ssBlue;

                .sort-header:before {
                    color: transparent;
                }
            }

            .help-text {
                .fa {
                    position: relative;
                    top: -4px;
                    font-size: 11px;
                    color: @gray;
                }
            }
        }

        th.st-sort-ascent,
        th.sort-asc,
        th.st-sort-descent,
        th.sort-desc {
            background: @ssBlue;

            .sort-header {
                font-weight: bold;
                color: @gray-darker;
            }
        }

        th.st-sort-ascent,
        th.sort-asc {
            .sort-header {
                &:before {
                    display: none;
                }

                &:after {
                    font-size: 20px;
                    top: -6px;
                }
            }

            &:hover {
                .sort-header {
                    &:before {
                        display: inline-block;
                        color: @gray-darker;
                    }

                    &:after {
                        font-size: 15px;
                        top: -7px;
                        color: transparent;
                    }
                }
            }
        }

        th.st-sort-descent,
        th.sort-desc {
            .sort-header {
                &:after {
                    display: none;
                }

                &:before {
                    font-size: 20px;
                    top: -6px;
                }
            }

            &:hover {
                .sort-header {
                    &:after {
                        display: inline-block;
                        color: @gray-darker;
                    }

                    &:before {
                        font-size: 15px;
                        top: -7px;
                        color: transparent;
                    }
                }
            }
        }

        td {
            text-align: center;
            vertical-align: middle;
        }

        .pos {
            color: @ssGreen;
        }

        .neg {
            color: @ssRed;
        }

        .num {
            text-align: right;
        }

        .place-cell {
            border-right: 0;
            text-align: left;
        }

        .iata-cell {
            border-left: 0;
            text-align: right;
            font-family: monospace;
            color: @gray-light;
        }

    }

    .routes-table,
    .dates-table {
        tbody tr:hover {
            cursor: pointer;
            background-color: lighten(@gray-base, 85%);
        }
    }

    .st-sort-descent {
        .sort-header {
            &:before {
                content: '\f0d7';
            }
        }
    }

    .pagination-wrapper {
        margin: 2em 0 0.5em;
        text-align: center;

        .pagination-md {
            margin: 0 auto;
        }

        .modal-help-link {
            display: block;
            text-align: right;
            padding-top: 0.5em;
        }
    }

    .routes-table {
        .sort {
            display: block;
            padding: 5px;
        }
    }

    td.histogram {
        vertical-align: middle;
        font-family: monospace;
        min-width: 7em;

        .position-one {
            display: inline-block;
            float: left;
            position: relative;
            top: 7px;
            text-align: left;
            margin-right: 5px;
            font-size: 1.1em;
            font-weight: bold;
        }

        .histogram-bar {
            width: 3em;
            height: 2em;
            float: right;
            overflow: hidden;

            > span {
                min-height: 1px;
                display: inline-block;
                float: left;
                width: 30%;
                position: relative;
                margin-right: 5%;
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
            }

            .one {
                background-color: @brand-success;
            }

            .two {
                background-color: @brand-warning;
            }

            .three {
                background-color: @brand-danger;
                margin-right: 0;
            }
        }

        .tooltip-inner {
            max-width: 7em;
            line-height: 2;
            white-space: pre-wrap;
            font-family: monospace;
        }
    }

    @media screen and (min-width: 1280px) {
        .pagination-wrapper {
            &.help-link-wrapper {
                overflow: hidden;
                position: relative;
                padding-right: 16em;
            }

            .modal-help-link {
                position: absolute;
                right: 0;
                bottom: 0;
                padding-top: 0;
                width: 16em;
            }
        }
    }

}

/* hack to fix bootstrap modal.less */
.modal-backdrop.in {
    height: 100%;
}
