<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="conversion-pixel-health">
    <h2 class="page-header">Conversion Pixel API Health</h2>

    <div cg-busy="{
        promise: apiLoad,
        templateUrl: 'app/common/templates/angular-busy/angular-busy.html',
        message: 'Loading data',
        backdrop:true
    }">

        <div class="conversion-chart">
            <h4 class="page-header">Reported Conversions (last 24 hours local time)</h4>

            <div class="chart-container">
                <div ng-if="noBookingData">
                    <div class="panel-overlay">
                        <div class="overlay-content">
                            <h3 class="overlay-header">
                                <i class="fa fa-info-circle fa-3"></i> No Conversion Data Available
                            </h3>
                            <p>FlightsConnect only shows bookings you have reported via a Skyscanner Conversion Pixel.</p>
                            <p>If you’d like to see this data on FlightsConnect, please get in touch with your account manager for information on how to develop a Skyscanner Conversion Pixel.</p>
                        </div>
                    </div>
                </div>

                <div id="conversion-chart" class="xy-chart"></div>
            </div>
        </div>

        <div class="conversion-table" ng-hide="noBookingData">
            <h4 class="page-header">Failure Details</h4>

            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="time-col">Time</th>
                            <th class="failure-col">Failure Details</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="failuresByTime in failureList" ng-init="fLen = failuresByTime.failures.length">
                        <tr>
                            <td rowspan="{{ failuresByTime.failures.length + 2 }}">{{ failuresByTime.time }}</td>
                        </tr>
                        <tr>
                            <td ng-if="fLen === 0">
                                <span class="label label-default">No failure</span>
                            </td>
                            <td ng-if="fLen > 0" class="collapser" data-toggle="collapse" data-target=".time-{{ failuresByTime.index }}">
                                <span class="label label-warning">{{ fLen }} failures</span>
                            </td>
                        </tr>
                        <tr class="collapse time-{{ failuresByTime.index }}" ng-repeat="failure in failuresByTime.failures">
                            <td class="collapsee">
                                <ul class="inline-list collapser" data-toggle="collapse" data-target="#failure-{{ failuresByTime.index }}-{{ $index }}">
                                    <li ng-repeat="reason in failure.reasons" class="label label-danger">{{ reason }}</li>
                                </ul>
                                <ul class="collapse booking-data list-group" id="failure-{{ failuresByTime.index }}-{{ $index }}">
                                    <li class="list-group-item" ng-repeat="(key, value) in failure.bookingData">{{ key }}: {{ value }}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
