<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="api-health live-updates" ng-cloak>
    <h2 class="page-header">Live Updates API Health</h2>

    <div cg-busy="{
        promise: summaryPromise,
        templateUrl: 'app/common/templates/angular-busy/angular-busy.html',
        message: 'Loading data',
        backdrop:true
    }">

        <div class="alert alert-danger" ng-show="feedback">Something went wrong when processing your request.</div>

        <section class="api-container" ng-hide="feedback">
            <div class="section-header">
                <div class="row">
                    <h4 class="col-md-4">API Performance</h4>
                    <span class="col-md-8 data-collection" ng-show="dataLen">Data from the past <strong>{{ dataLen }}</strong> hours</span>
                </div>
            </div>

            <div class="chart-container">
                <div id="api-chart" class="xy-chart"></div>
            </div>
        </section>

        <div ng-show="summaries">
            <div class="row api-summary">
                <section class="col-md-3">
                    <h4 class="section-header blue">Total API calls</h4>

                    <div class="summary-category">
                        <span class="summary-total">{{ summaries.total.total | number }}</span>
                    </div>
                </section>

                <section class="col-md-3">
                    <h4 class="section-header green">Successes</h4>

                    <div class="summary-category">
                        <span class="summary-total">{{ summaries.success.total | number }}</span>
                        <span class="summary-percentage {{ summaries.success.status }} help" tooltip-html-unsafe="<b class=green>Good</b> is above 90%<br/><b class=amber>Okay</b> is between 70%-90%<br/><b class=red>Bad</b> is below 70%">{{ summaries.success.percentage | number: 2 }}% <i class="fa fa-question-circle"></i></span>
                    </div>
                </section>

                <section class="col-md-3">
                    <h4 class="section-header red">Failures</h4>

                    <div class="summary-category">
                        <span class="summary-total">{{ summaries.failure.total | number }}</span>
                        <span class="summary-percentage {{ summaries.failure.status }} help" tooltip-html-unsafe="<b class=green>Good</b> is below 5%<br/><b class=amber>Okay</b> is between 5%-20%<br/><b class=red>Bad</b> is above 20%">{{ summaries.failure.percentage | number: 2 }}% <i class="fa fa-question-circle"></i></span>
                        <a ng-click="showEventList('failures')" ng-show="summaries.failure" class="view-summary-breakdown" id="view-failures">View details <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </section>

                <section class="col-md-3">
                    <h4 class="section-header amber">No Quotes</h4>

                    <div class="summary-category">
                        <span class="summary-total">{{ summaries.noquotes.total | number }}</span>
                        <span class="summary-percentage {{ summaries.noquotes.status }} help" tooltip-html-unsafe="<b class=green>Good</b> is below 15%<br/><b class=amber>Okay</b> is between 15%-35%<br/><b class=red>Bad</b> is above 35%">{{ summaries.noquotes.percentage | number: 2 }}% <i class="fa fa-question-circle"></i></span>
                        <a ng-click="showEventList('noquotes')" ng-show="summaries.noquotes" class="view-summary-breakdown" id="view-noquotes">View examples <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </section>
            </div>

            <section class="api-container" ng-show="activeEvent">
                <h4 class="section-header event-title {{ activeEvent.className }}">{{ activeEvent.title }}</h4>

                <ul class="api-events" ng-show="activeEvent.type">
                    <li class="event-item" ng-repeat="event in events | filter: {category: activeEvent.type}">
                        <div class="event-header">
                            <div class="row">
                                <div class="col-md-4" ng-if="event.category === 'failures'">
                                    <a class="event-title collapsed help" ng-if="dictionary[event.type].description" ng-click="event.descShown = !event.descShown" aria-expanded="false" data-toggle="collapse" data-target="#event-desc-{{$index}}">{{ dictionary[event.type].title }}</a>

                                    <span class="event-title" ng-if="!dictionary[event.type].description">{{ dictionary[event.type].title }}</span>
                                </div>

                                <div class="col-md-4" ng-if="event.category === 'noquotes'">
                                    <span class="event-title help" tooltip="{{ event.origin.name }} to {{ event.destination.name }}">
                                        <span ng-bind="event.origin.code" class="monospaced"></span>
                                        <i class="fa fa-arrow-circle-right"></i>
                                        <span ng-bind="event.destination.code" class="monospaced"></span>
                                    </span>
                                </div>

                                <div class="col-md-4">
                                    <span class="event-label">Total:</span>
                                    <span class="event-total">
                                        <strong>{{ event.value | number }}</strong>
                                        <span ng-if="event.percentage"> | {{ event.percentage | number:2 }}%</span>
                                    </span>
                                </div>

                                <div class="col-md-4 text-right">
                                    <a class="view-examples collapsed" ng-disabled="examples[event.id].isClicked" ng-click="examples[event.id].isClicked ||
                                    getExamples(
                                        event.category,
                                        event.id,
                                        event.category === 'failures' ?
                                            { error_type: event.type } : { origin_routenode_id: event.origin.routenode_id, destination_routenode_id: event.destination.routenode_id }
                                    )" data-toggle="collapse" aria-expanded="false" data-target="#example-{{$index}}">    view examples
                                        <i class="fa arrow" ng-show="!examples[event.id].isClicked"></i>
                                        <i class="fa fa-spinner fa-pulse" ng-show="examples[event.id].isClicked"></i>
                                    </a>
                                </div>
                            </div>

                            <p id="event-desc-{{$index}}" class="event-desc collapse" ng-bind-html="dictionary[event.type].description"></p>
                        </div>

                        <div id="example-{{$index}}" class="event-examples collapse" ng-show="!examples[event.id].isClicked">
                            <table class="table table-condensed table-hover table-striped" ng-if="examples[event.id].data !== 'error'">
                                <tr>
                                    <th>Log Time</th>
                                    <th ng-show="activeEvent.type === 'failures'">Route</th>
                                    <th>Travel Dates</th>
                                    <th><span tooltip="Adults, children, and infants" class="help">Passengers <i class="fa fa-question-circle"></i></span></th>
                                    <th class="text-center">Class</th>
                                    <th class="text-center">Replay Search</th>
                                </tr>

                                <tr class="example-item" ng-repeat="ex in examples[event.id].data">
                                    <td>
                                        <span class="monospaced">{{ ex.timestamp | date:'HH:mm:ss' }}</span>
                                    </td>
                                    <td ng-show="activeEvent.type === 'failures'">
                                        <span class="monospaced help" tooltip="{{ ex.origin.name }} to {{ ex.destination.name }}">{{ ex.origin.iata_id }} <i class="fa fa-arrow-circle-right"></i> {{ ex.destination.iata_id }}</span>
                                    </td>
                                    <td>
                                        <span class="monospaced">
                                            {{ ex.depart_datetime | date:'dd MMM yy' }}
                                        </span>
                                        <span class="monospaced">
                                            <i class="fa fa-long-arrow-right" ng-show="ex.return_datetime"></i>
                                            {{ ex.return_datetime | date:'d MMM yy' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="passenger">
                                            {{ ex.passenger_configuration.adult }}<span class="passenger-icon icon-adult"></span>
                                        </span>
                                        <span class="passenger" ng-show="{{ ex.passenger_configuration.children }}">
                                            {{ ex.passenger_configuration.children }}<span class="passenger-icon icon-child"></span>
                                        </span>
                                        <span class="passenger" ng-show="{{ ex.passenger_configuration.infant }}">
                                            {{ ex.passenger_configuration.infant }}<span class="passenger-icon icon-infant"></span>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span class="class" ng-bind="ex.cabin_class"></span>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-xs btn-default btn-replay" ng-click="redirectTest(ex, event.type)"><i class="fa fa-play"></i> Replay</button>
                                    </td>
                                </tr>
                            </table>

                            <div class="alert alert-danger" ng-if="examples[event.id].data === 'error'">Something went wrong when retrieving the data.</div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
