<ng-include src="'app/layout/header.html'"></ng-include>

<div id="page-wrapper" class="monitor">

    <h2 class="page-header">Recent Redirects (Last 15 minutes)</h2>

    <!--Deeplink failures-->
    <div cg-busy="{promise:deeplink_failures_promise,templateUrl:'app/common/templates/angular-busy/angular-busy.html',message:'Loading deeplink summary.',backdrop:true}" class="dl_failures_heading monitoring_row">
        <progress max="100">
            <bar value="100 - (dl_failures.failures + dl_failures.partial_failures)" type="success"><span ng-hide="">{{100 - (dl_failures.failures + dl_failures.partial_failures) | number:1 }}% Success</span></bar>

            <bar value="dl_failures.partial_failures" type="warning"><span ng-hide="">{{dl_failures.partial_failures | number: 1 }}% Partial Failures</span></bar>

            <bar value="dl_failures.failures" type="danger"><span ng-hide="">{{dl_failures.failures | number: 1 }}% Failures</span></bar>
        </progress>

        <p ng-show="dl_failures.partial_failures > 0"><label class="label label-warning img-rounded">&nbsp;</label>&nbsp;Partial Failures are redirects that did not reach the target depth. For example your target depth is the booking page but the redirect only reached the day view page.</p>

        <div ng-show="show_nofailures_data" class="alert alert-info">
            Can't retrieve the Live Updates data. Please try again later.
        </div>
    </div>

    <div ng-hide="show_nodlfailures" cg-busy="{promise:deeplink_errors_promise,templateUrl:'app/common/templates/angular-busy/angular-busy.html',message:'Loading failures.',backdrop:true}" class="dl_failures_data monitoring_row">
        <h3>Recent Redirect Failures</h3>
        <hr/>
        <div class="table-container smart-table">
            <table st-table="dlRowCollection" class="table table-striped">
                <thead>
                <tr>
                    <th>Date Time</th>
                    <th>Error</th>
                    <th>Error Location</th>
                    <th>Error Text</th>
                    <th>Target Depth</th>
                    <th>Achieved Path</th>
                    <th>Language</th>
                    <th>Cabin Class</th>
                    <th>Redirect</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in dlRowCollection">
                    <td>{{row.date | amCalendar}}</td>
                    <td><a tooltip="{{showDeeplinkErrorDetails(row)}}">{{readableErrorMessage(row)}}</a></td>
                    <td>{{row.error_location || 'Not Applicable'}}</td>
                    <td>{{row.error_text || 'Not Applicable'}}</td>
                    <td>{{row.target_depth}}</td>
                    <td>{{row.achieved_depth}}</td>
                    <td>{{row.language}}</td>
                    <td>{{row.cabin_class}}</td>
                    <td><a href="http://www.skyscanner.net{{row.deeplink}}?disable_tracking=true" target="_blank">Deeplink</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="show_no_dl_grid_data" class="alert alert-info">
        Can't retrieve the Redirects data. Please try again later.
    </div>

    <div ng-show="show_nodlfailures" class="alert alert-info">
        Deeplink has no failures.
    </div>
</div>