/** metrics */
.metrics {
    .inline-flex-container();
    margin-bottom: 0.6em;
}

.metrics__metric {
    .inline-flex-item();
    padding: 0.75em 1em;
    border: 1px solid lighten(@gray-base, 85%);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;

    &+ .metrics__metric {
        margin-left: 0.5em;
    }

    &:after {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 1.5em;
        content: '';
    }

    &:before {
        position: absolute;
        top: 35%;
        right: 7px;
        content: "\f105";
        font-family: FontAwesome;
        z-index: 1;
    }
}

.metrics__metric-name {
    color: @gray-light;
    font-weight: normal;
}

.metrics__metric-number {
    font-size: 2em;
    font-weight: normal;
}

.metrics-count {
    .metrics__metric {
        &:after {
            background: lighten(@gray-base, 80%);
        }

        &:before {
            color: white;
        }

        &:hover {
            opacity: 1;
            border-color: @ssBlue;

            &:after {
                background: @ssBlue;
            }
        }
    }

    .metrics__metric-name {
        font-size: 0.9em;
        margin: 0 0 0.25em;
    }

    .metrics__metric-number {
        font-size: 2em;
        margin: 0;
    }
}

.metrics-rate {
    .metrics__metric {
        &:after {
            background: transparent;
        }

        &:before {
            color: @gray-light;
        }

        &:hover {
            opacity: 1;
            border-color: @ssBlue;

            &:before {
                color: @ssBlue;
            }
        }
    }

    .metrics__metric-rate-wrapper {
        float: left;
        margin-right: 1em;
        line-height: 1;
    }

    .metrics__metric-name {
        font-size: 1em;
        text-transform: uppercase;
        margin: 0;
    }

    .metrics__metric-desc {
        font-size: 0.8em;
        color: lighten(@gray-base, 75%);
    }

    .metrics__metric-number {
        float: left;
        font-size: 2.2em;
        color: @gray-base;
        font-weight: normal;
        margin: 0;
        line-height: 1;
    }
}