        
<div>
  <tabset ng-show="test_result.raw_request_responses.length > 1">
    <tab ng-repeat="raw_request_response in test_result.raw_request_responses" analytics-on="click" analytics-event="RawRequestResponseTab" analytics-category="{{test_config.website_id}}" analytics-label="{{username}}">
      <tab-heading>Request #{{$index + 1}}</tab-heading>    

      <h4>Request details:</h4>

      <json-formatter json="raw_request_response.request" open="3"></json-formatter>      

      <h4>Response:</h4>
      <!--We have to do it like this because Ace Editor needs to initialize it first-->
      <div ng-show="raw_request_response.response_type=='javascript'">
          <div ng-model="raw_request_response.response" 
              ui-ace="{
                useWrapMode : false,
                showGutter: true,
                theme:'github',
                readOnly: true,
                mode: 'javascript'
              }">
          </div>
      </div>

      <div ng-show="raw_request_response.response_type=='xml'">
          <div ng-model="raw_request_response.response" 
              ui-ace="{
                useWrapMode: false,
                showGutter: true,
                theme:'github',
                readOnly: true,
                mode: 'xml'
              }">
          </div>
      </div>    
    </tab>
  </tabset>

  <div ng-show="test_result.raw_request_responses.length == 1">
    <h4>Request details:</h4>

    <json-formatter json="test_result.raw_request_responses[0].request" open="3"></json-formatter>
    
    <h4>Response:</h4>
    <!--We have to do it like this because Ace Editor needs to initialize it first-->
    <div ng-show="test_result.raw_request_responses[0].response_type=='javascript'">
        <div ng-model="test_result.raw_request_responses[0].response" 
            ui-ace="{
              useWrapMode : false,
              showGutter: true,
              theme:'github',
              readOnly: true,
              mode: 'javascript'
            }">
        </div>
    </div>

    <div ng-show="test_result.raw_request_responses[0].response_type=='xml'">
        <div ng-model="test_result.raw_request_responses[0].response" 
            ui-ace="{
              useWrapMode : false,
              showGutter: true,
              theme:'github',
              readOnly: true,
              mode: 'xml'
            }">
        </div>
    </div>
  </div>

</div>            
