<div class="panel panel-default">
    <div class="panel-heading">
        <label ng-show="testConfigs">
            <span class="checkbox-inline">
            <input type="checkbox" ng-model="showExpiredTests" name="show_expired" class="input-sm" />&nbsp;Show expired tests
            </span>
        </label>
    </div>
    <div class="table-responsive">
       
            <div class="tests-list list-group" style="overflow:auto">
                <div style="margin-top:20px" infinite-scroll='loadTests()' infinite-scroll-disabled='loadingNext || loadedLast' infinite-scroll-distance='0' infinite-scroll-container="'.tests_list_pane'" >
                    <div style="cursor:pointer;"
                        ng-repeat="testConfigItem in testConfigs"
                        ng-click="showAPIresponse(testConfigItem.id);selected_carriers=[]"
                        ng-class="{
                        'list-group-item-info': testConfigItem.id === selected_test_id,
                        'list-group-item-warning': isInThePast(testConfigItem)
                        }"
                        ng-hide="(show_opstest == false && testConfigItem.datacenter == 'opstest')
                        || isInThePast(testConfigItem)"
                        ng-show="showExpired(isInThePast(testConfigItem), showExpiredTests)"
                        ng-disabled="testConfigItem.id === selected_test_id"
                        ng-init="testConfigItem.lastrun.date = testConfigItem.lastrun.date
                        ? testConfigItem.lastrun.date : running_lastrun[testConfigItem.id].date;
                        testConfigItem.lastrun.response_date = testConfigItem.lastrun.response_date
                        ? testConfigItem.lastrun.response_date : running_lastrun[testConfigItem.id].response_date"
                        class="list-group-item col-md-12">
                        <!--Counter-->
                        <div ng-hide="scrapeTester" class="pull-left col col-md-1 text-left">
                            <h4 style="font-weight:bold; margin-top:0px;">#{{testConfigItem.counter + 1}}</h4>
                        </div>
                        <div ng-hide="running_test[testConfigItem.id]" class="pull-left col-md-1 text-left">
                            <!--Successful-->
                            <span ng-show="running_lastrun[testConfigItem.id].status == 'successful'
                            || testConfigItem.lastrun.status == 'successful'"
                            tooltip-placement="top" 
                            tooltip="Successful"                        
                            class="text-success">
                            <i class="fa fa-lg fa-check-circle"></i
    >                        </span>
                            <!--Failed-->
                            <span ng-show="running_lastrun[testConfigItem.id].status == 'failure'
                            || testConfigItem.lastrun.status == 'failure'"
                            tooltip-placement="top" 
                            tooltip="Failed"
                            class="text-danger">
                            <i class="fa fa-lg fa-exclamation-circle"></i>
                            </span>
                            <span ng-show="running_lastrun[testConfigItem.id].status == 'noquotes'
                            || testConfigItem.lastrun.status == 'noquotes'"
                            tooltip-placement="top" 
                            tooltip="No Quotes"                        
                            class="text-danger">
                            <i class="fa fa-lg fa-ban"></i>
                            </span>
                        </div>
                        <!--Running-->
                        <div ng-show="running_test[testConfigItem.id]" class="pull-left col-md-1 text-left">
                            <span tooltip-placement="top"
                            tooltip="Running">
                            <i class="fa fa-cog fa-spin fa-lg"></i>
                            </span>
                        </div>
                        <div class="iata_place pull-left col col-md-2">
                            <span class="label label-primary ng-binding">{{testConfigItem.from_place}}</span>
                            <!--One-way flights-->
                            <span   tooltip-placement="top"
                            tooltip="One-way flight"
                            ng-hide="testConfigItem.return_date"
                            class="glyphicon glyphicon-arrow-right ng-scope ng-hide"></span>
                            <!--Return flights-->
                            <span   tooltip-placement="top"
                            tooltip="Return flight"
                            ng-show="testConfigItem.return_date"
                            class="glyphicon glyphicon-resize-horizontal ng-scope"></span>
                            <span class="label label-primary ng-binding">{{testConfigItem.to_place}}</span>
                            
                        </div>
                        <div class="pull-left col col-md-2">
                            <span class="label label-info"> 
                            <i class="fa fa-arrow-right"></i>
                            &nbsp;{{testConfigItem.depart_date | date : dateFormat.heading}}
                            </span><br/>
                            <span ng-show="testConfigItem.return_date">
                            <span class="label label-info"><i class="fa fa-arrow-left"></i>&nbsp;{{testConfigItem.return_date | date : dateFormat.heading}}
                            </span>
                            </span>
                        </div>
                        <!--Passengers-->
                        <div    class="pull-left text-center col col-md-1"
                            tooltip-placement="top"
                            tooltip="{{testConfigItem.adults}} adults, {{testConfigItem.children}} children, {{testConfigItem.infants}} infants">
                            <i class="fa fa-users"></i><br/>
                            {{testConfigItem.adults}}, {{testConfigItem.children}}, {{testConfigItem.infants}}
                        </div>
                        <!--Cabin Class-->
                        <div class="pull-left col col-md-1">
                            <span>{{cabinClassMap[testConfigItem.cabin_class] ? cabinClassMap[testConfigItem.cabin_class] : testConfigItem.cabin_class}}</span>
                        </div>
                        <!--Locale-->
                        <div class="pull-left col col-md-1 text-center">
                            <img ng-show="testConfigItem.market" ng-src="http://images.skyscnr.com/images/country/flag/small/{{testConfigItem.market.toLowerCase()}}.png"/>&nbsp;{{testConfigItem.lang}} {{testConfigItem.currency}}
                            
                        </div>
                        <!--Data Center-->
                        <div class="pull-left col col-md-1" tooltip-placement="top" tooltip="{{datacenter_map[testConfigItem.datacenter.toUpperCase()]}}">
                            <i class="fa fa-database"></i>
                            {{testConfigItem.datacenter.toUpperCase() || ""}}
                        </div>
                        

                        <div ng-hide="running_test[testConfigItem.id] || scrapeTester == true" class="pull-right col-md-2">
                            <div class="btn-group pull-right">
                                <button tooltip-placement="top"
                                tooltip="Run"
                                ng-disabled="deleting_testcase[$index] || running_test[testConfigItem.id] || isInThePast(testConfigItem)" ng-click="pollTests(testConfigItem, testConfigItem.id, true, $index);selected_carriers=[]"
                                stop-event="click"
                                class="btn btn-primary btn-sm glyphicon glyphicon-play"
                                id="run_with_filters"></button>
                                <button tooltip-placement="top"
                                tooltip="Remove"
                                ng-disabled="deleting_testcase[$index] || running_test[testConfigItem.id]"
                                ng-click="deleteTest(testConfigItem.id, $index)"
                                stop-event="click"
                                class="btn btn-sm glyphicon glyphicon-trash btn-danger"
                                id="delete_test_case"></button>
                            </div>
                            <div class="pull-right text-right" style="min-width:100px;">
                                <small am-time-ago="testConfigItem.lastrun.date" style="font-size:11px;">
                                </small>
                            </div>
                        </div>
                        <div ng-show="running_test[testConfigItem.id]" class="pull-right col-md-2">
                            <div class="pull-right">
                                <span>Running..</span>
                                <button ng-click="cancelRunningTest(testConfigItem.id, $index)" stop-event="click" tooltip-placement="top" tooltip="Cancel" class="btn btn-danger btn-sm glyphicon glyphicon-remove">
                                </button>
                            </div>
                        </div>
                        <div ng-show="scrapeTester == true" class="pull-right col-md-2">
                            <div class="pull-right">
                                
                                <a target="_blank" href="{{testConfigItem.deeplink.request_url}}" stop-event="click" class="btn btn-default btn-sm">
                                    Dayview Deeplink
                                </a>
                            </div>
                        </div>                    
                        <div ng-show="scrapeTester == true" class="pull-right col-md-2" style="margin-top:10px;">
                            <div ng-show="testConfigItem.repro_links" class="btn-group pull-right btn-group-xs">
                                <a href=""></a>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" analytics-event="DebugDropdown" analytics-category="{{testConfigItem.website_id}}" analytics-label="{{username}}">
                                    Debug
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu">
                                    <li ng-repeat="(key, value) in testConfigItem.repro_links">
                                        <a  href="{{encodeURL(value)}}" target="_blank" analytics-on="click" analytics-event="{{key}}" analytics-category="{{testConfigItem.website_id}}" analytics-label="{{username}}">{{toTitleCase(key)}}</a>
                                    </li>
                                </ul>

                            </div>
                        </div>                        
                    </div>
                <div style='clear: both;'></div>
                <div style="padding:3px" ng-show='loadingNext'>Loading more data...</div>
                </div>
            </div>
           <!--  <div ng-hide="testConfigs" class="well well-lg" role="alert">
                No test cases found. Add a new one using the "Save Test Case" form.&nbsp;<i class="fa fa-arrow-right fa-lg"></i>
            </div> -->
        
    </div>
</div>