<div  ng-show="running_test[selected_test_id]" 
      class="alert alert-info" 
      role="alert" 
      id="running_test_notification" 
      style="font-size:14px;">
  <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Please wait...&nbsp;Saving test is disabled when there are running tests.

</div>

<!-- <div ng-hide="isValidJacquardResponse(test_result.answers)"
    class="alert alert-info" 
    role="alert" 
    style="font-size:14px;">
Please re-run this test. It looks like the current result is from the deprecated engine.
</div> -->

<div cg-busy="{promise:test_results_promise, templateUrl:'app/common/templates/angular-busy/angular-busy.html', message: test_results_loading_message, backdrop:true}" 
      class="jac_results">
  <alert ng-repeat="alert in test_panel_alerts" type="alert.type" close="closeAlert($index, 'testpanel')" ng-animate="'custom'" style="font-size:14px;">
    {{alert.msg}}
<!-- <a ng-show="" ng-click="raiseJira(alert, $index)"
                                tooltip-placement="bottom"
                                stop-event="click"
                                class="btn btn-default btn-xs"
                                ng-disabled="button_disabled[$index]">
                                <span ng-hide="raised_ticket[$index]">
                                <span class="glyphicon glyphicon-new-window"></span>&nbsp;Create Ticket
                                </span>
                                <span ng-show="raised_ticket[$index]">
                                <i class="glyphicon glyphicon-ok"></i>&nbsp;Ticket Created
                                </span>
                            </a> -->
  </alert>

  <div>   
     <tabset>
        <tab  analytics-on="click" 
              analytics-event="SearchResultsTab" 
              analytics-category="{{testConfig.website_id}}" 
              analytics-label="{{username}}"
              id="search_results_tab">
          <tab-heading>Search Results</tab-heading>
          <ng-include src="'app/technical/templates/searchtest/test-search-results.html'"></ng-include>
        </tab>
        
        <tab  ng-show="test_result.raw_request_responses.length > 0"
              analytics-on="click" 
              analytics-event="RequestResponseTab" 
              analytics-category="{{testConfig.website_id}}" 
              analytics-label="{{username}}"
              id="raw_response_tab">
          <tab-heading>RAW Request/Response</tab-heading>
          <ng-include src="'app/technical/templates/searchtest/test-raw-request-response.html'"></ng-include>                      
        </tab>
        
      </tabset>
  </div>
</div>
